[2015-11-24 22:45] csarven opened #1 "Introduce the property parameter"
Document and incorporate the idea of using properties as a parameter to better employ webmentions.

This was already documented and mentioned here:

http://csarven.ca/webmention

in which the IWC community is well-aware of (let me know if citations are needed). And, here on the Social Web WG mailing list:

https://lists.w3.org/Archives/Public/public-socialweb/2015Jul/0092.html

and several times o

[2015-11-24 23:38] gobengo commented on #1
Cool idea.

I think if folks want to start sending linked data in webmentions (which I think is worth exploring), we should focus on supporting proven linked data content types to support it (JSON-LD, Turtle), not add new parameters to the 'application/x-www-form-urlencoded'. I've never seen x-www-form-urlencoded linked data.

The example that's a 'placeholder' in the property input of the form at

[2015-11-24 23:53] melvincarvalho commented on #1
Webmention has been implemented in linked data in the form of "Semantic Pingback"

http://www.w3.org/wiki/Pingback#Semantic_Pingback

In fact webmention was partially based on this protocol.

I'd suggest to use namespaces for source, target etc. from the pingback vocab if wishing to implement this in the linked data world.  Alternatively putting something under w3.org/ns could work.

Pingback has

[2015-11-25 07:35] gobengo opened #2 "Should webmention ping data support extensibility via something like LD namespaces?"
Started on #1, but that issue is specifically to introduce a new parameter in the currently specced `application/x-www-form-urlencoded` request body content-type.

Semantic Pingback is worth being familiar with in the webmention discussion. However, that document does not use normative vocabulary, and thus I don't think it is fit as-is.

@melvincarvalho :

Which may or may not be a good idea. Rega

[2015-11-25 07:36] gobengo commented on #1
That is a good idea, though now we have drifted away from the name of this issue, which is proposing a new property in the formencoded Content-Type.

I made #2 to rationalize.

[2015-11-25 08:27] gobengo opened #3 "W3C Social Pingback"
webmention is cool and I like it.

However, I think we need more to really make progress on the "Federation Protocol" deliverable mentioned in the charter.

Other than webmention, [LDP](http://www.w3.org/TR/ldp/) is the other protocol mentioned in the charter as a 'possible input' to that deliverable, but it doesn't help prescribe much that helps with webmentions or pingbacks (that I can tell).

@

[2015-11-25 09:17] bblfish commented on #3
I co-authored [a partial history of pingback](http://bblfish.net/tmp/2011/05/09/)

- having relations tie in to syntax such as xmlrpc  is a good example of why doing that is a bad idea
- pingback is not defined in the [Link Relations](http://www.iana.org/assignments/link-relations/link-relations.xhtml) page

I think if one can find a way for semantic pingback to be defined so that it satisfies the

[2015-11-25 09:25] dret commented on #3
On 2015-11-25 10:17, Henry Story wrote:

ideally not. link relations communicate *why* an application/user may
want to follow a certain link (if i want to accomplish application goal
x, then at this point in the control flow i need to follow link with
relation y). how the interaction then plays out is a different issue and
can use standard HTTP mechanisms such as content negotiation.

it is possib

[2015-11-25 09:37] kevinmarks commented on #3
On Wed, Nov 25, 2015 at 1:17 AM, Henry Story <notifications@github.com>
wrote:

The inventor has adopted webmention now:

http://www.kryogenix.org/days/2014/11/29/enabling-webmentions/

that page is deprecated - the canonical registry is now
http://microformats.org/wiki/existing-rel-values#HTML5_link_type_extensions
which does included pingback

[2015-11-25 10:12] gobengo commented on #3
I like this simplification.

1. Current strawman is 'webmention'.
2. Better than 'the type of structure' is 'a vocabulary' for posting relations. I think the minimally needed set is `pingback:source` and `pingback:target`.
  * Any deliverable should also illustrate how to serialize this vocabulary in common mimetypes.

Yes
  * For non-LD mimetypes (where [normalization](http://json-ld.org/spec/ED/

[2015-11-25 10:24] bblfish commented on #3
what is actually needed for LDP folks is a way to transform `application/x-www-form-urlencoded` into RDF.  Something like [json-grddl](http://buzzword.org.uk/2008/jsonGRDDL/spec.20100903) updated to json-ld .

Of course the actual mime type should practically be limited to a few. But the data structure should be defined semantically, so that it can survive change of syntax fashions.

[2015-11-25 10:27] melvincarvalho commented on #2
+!

[2015-11-25 10:27] gobengo commented on #3
That is outside the scope of this WG, but would be informative to see a consistent proposal on.

+1. And I think "http://purl.org/net/pingback/" is sufficient so far. Do you?

[2015-11-25 10:31] gobengo commented on #3
@kevinmarks

Notably that table does not have

[2015-11-25 10:34] bblfish commented on #3
yes, a JSON-LD grddl  may be outside the scope of thie WG, but its going to come up again and again. It would really help to merge Web1.0 with Web3.0 . Perhaps @msporny knows of such a standard already?

yes, I am fine with http://purl.org/net/pingback ( It's a pitty that the URLs are not hash URLs, but I suppose it will do ).

[2015-11-25 13:11] dret commented on #3
On 2015-11-25 10:37, Kevin Marks wrote:

the IANA registry is not deprecated. it still is the registry for link
relation types on the web. the HTML5 page has been created in an attempt
to change the IANA process defined in RFC 5988 to something more
lightweight, which was the preferred way to go by the HTML5 community.

[2015-11-25 15:42] aaronpk commented on #3
@gobengo you literally described webmention:

That is false, Webmention supports disovery in the HTTP header:

and as for

I agree, it's simplest, and that's why Webmention uses it.

Basically the whole point of Webmention was to take the existing mechanism of Pingback and remove the unnecessary stuff, mainly the XMLRPC bit. If you were to do the process again I suspect you'd arrive at a spec that

[2015-11-25 16:09] gobengo commented on #3
@aaronpk you're right on both fronts.

I missed the web mention link header.

And I shouldn't have written "ignore". I moreso meant to just highlight that perhaps it's possible to standardize something that is backward compatible with Pingback markup, but doesn't strictly require XML-RPC.

Apologies for both mistakes. I'll strike through when not mobile.

Sent from the hip

[2015-11-25 16:12] bblfish commented on #3
Yes, so for use with LDP it would be nice to be able to have a translation from `application/x-www-form-urlencoded` so that we can POST it to an `LDPC` ( C for Container). It there were an automatic way to decode `application/x-www-form-urlencoded` then we could just enhance LDPCs in LDPnext, so that webmention posts are correctly understood.

[2015-11-25 16:50] melvincarvalho commented on #3
@bblfish is right.  I brought up all these points already in July on the mailing list

https://lists.w3.org/Archives/Public/public-socialweb/2015Jul/0037.html

So I'm confused why the document has not addressed them in a timely way.  Additionally given our time line I do not have confidence they will be addressed in time to take this work to REC.  As such I think it would be practical to aim for a

[2015-11-25 16:55] dissolve commented on #2
I'd support creating some extensions to webmention (look at indiewebcamp.com/vouch for one such extension).
Remember though that any extension really should be limited to things needed for transfer not data itself, which is a pretty limited set of things (auth, spam prevention, fetch format, etc).   That's why I think namespacing might be overkill

[2015-11-25 17:02] dissolve commented on #1
I think this would make a fine extension.  I don't see any situation where property is really needed though.  With the target, you can discover the relationship.  Its really just giving a hint to processing which is why I would say it shouldn't be part of the base spec.

In addition I think the term "property" would be better replaced with something more descriptive, "relation" perhaps.  But I kno

[2015-11-25 17:20] kevinmarks commented on #3
dret, both the w3c and WhatWG HTML specifications normatively reference the microformats rel registry rather than the IANA one, so you are factually incorrect. See http://www.w3.org/TR/html5/links.html#other-link-types

[2015-11-25 17:26] melvincarvalho commented on #3
@kevinmarks the entry for webmention on that page is:

https://github.com/converspace/webmention/blob/master/README.md

Which says

the latest, most up-to-date specification is located on the

http://indiewebcamp.com/webmention

But we're also now told to look at:

http://webmention.net/

Quite a mess, especially when someone is trying to do a web search to try and understand what it is about.

[2015-11-25 17:27] aaronpk commented on #3
@melvincarvalho Please refrain from bringing up multiple new issues as a comment on a single Github issue. The great thing about using Github issues for discussion compared to a mailing list is it allows different topics to have their own URLs, so people can participate and follow individual issues. Bringing up new and separate topics within this thread is counterproductive.

Yes, the whole point

[2015-11-25 17:27] bblfish commented on #3
@kevinmarks

I think that tends to show that the two standard groups are not in sync.

[2015-11-25 17:31] bblfish commented on #3
@aaronpk why not ask @melvincarvalho to copy his post to another issue, and leave this one open. I thought it was making good progress.

[2015-11-25 17:31] kevinmarks commented on #3
Which 2? There are 5 involved here. WhatWG, w3c and microformats are in sync on this. IETF and IANA have not caught up yet.

[2015-11-25 17:32] tantek commented on #2
Without starting with a specific documented real-world use-case that requires something above & beyond the existing spec, we should summarily close this issue. Plumbing for plumbing's only bloats specs, makes more work for implementers without benefit to their implementations or their users.

[2015-11-25 17:37] aaronpk commented on #3
@bblfish The original issues were 1) the Webmention should be discoverable by HTTP header (it is), and 2) there are some issues with Pingback, which can be solved by reducing the payload to a form-encoded request (webmention does this). I would really like to encourage more focused threads starting with specific real-world use-cases that are driving the suggested changes.

[2015-11-25 17:50] melvincarvalho commented on #3
@aaronpk -1 to taking this work forward, please see my points on the mailing list.  If those issues are addressed and resolved, either here, in further issues or on the mailing list, that would be great.  I hope there is enough information to make some progress.  But the indication is, IMHO, that issues will be closed without unanimous consent.  I look forward to improved revisions based on feedba

[2015-11-25 17:53] bblfish commented on #3
@kevinmarks

There is a process at the IETF by which one RFC gets updated by another. See for example the HTTP RFC. It would be correct to propose a new RFC that updates the old one so people who have been following the IETF RFC don't get mislead.

[2015-11-25 17:57] dret commented on #3
On 2015-11-25 18:20, Kevin Marks wrote:

that is an interesting take on reality and one that is probably not
entirely independent of being invested in microformats. and yes, whatwg
makes a sport out of disliking anything that is not whatwg, and w3c kind
of went along with that because they had no better way to get back into
the HTML game. but that still doesn't change the fact that all of this
is

[2015-11-25 17:57] aaronpk commented on #3
@melvincarvalho I'm not opposed to discussing your points, I would just really rather discuss this on Github than on the mailing list. Please feel free to open individual issues for each point in that email.

@bblfish, @kevinmarks and @dret: this is not the place to discuss which rel registry is correct.

I am locking this issue because I feel bad for everyone else getting emails and notifications

[2015-11-25 20:32] gobengo commented on #2
Given that there is a precedent (vouch) of defining extensions for form-urlencoded fields other than `source` and `target`.
and given that we've identified that extended form-urlencoded fields could indicate LD context, but that is a different problem outside of scope of socialwg,
and noting there is not currently a list of use cases driving this extensibility story,
I agree with Tanktek for now.

[2015-11-25 23:25] azaroth42 opened #4 "Consider as:Activity as payload"
Being able to transfer an Activity description (to be embedded in an ActivityStream, for example) would be great for integration.  As AS has its own content-type, there would be no confusion as to what the payload consists of.

As an strawperson proposal, systems MUST support www-form-encoded, and SHOULD support AS?

This gives an extension point in the future if there are further syntaxes that ca

[2015-11-25 23:32] azaroth42 opened #5 "Consider expanding verification step 2"
The discovery step is very clearly described, and allows for non-HTML content to participate using the protocol via HTTP Link headers.  The verification step, where the source is retrieved and it is confirmed that it links to the target, is less clear as to what constitutes a valid link.  Further processing requirements would be valuable here.

As a strawperson:

* Check if any of the Link headers

[2015-11-25 23:33] kevinmarks commented on #4
The key point of webmention is that it points to a source URL for the mention. That certainly could be an as:Activity - it is up to the recipient as to how much information they extract from the source and what they display.

[2015-11-25 23:35] csarven commented on #1
If we want to talk about what is strictly required, it is just the source. If we want to continue talking about how to let the target know precisely why a target was mentioned, then you need both property and target. Both property and target help with the validation process. If you want to discuss in terms of "extensions", then everything outside of source is an extension.

source is a **MUST**, p

[2015-11-25 23:36] csarven commented on #2
The UC is that the target wants precision in discovering the claimed webmention at a source. It was already documented: http://csarven.ca/webmention and mentioned in issue #1 .

[2015-11-25 23:37] azaroth42 opened #6 "Allow 404 to trigger deletion as well as 410"
In the Updating section, 410 is explicitly called out as triggering a deletion. It seems like many situations would result in a 404 to trigger deletion as well, such as the domain name being sold and reused, the content management system changing and becoming unaware of all previous URLs, and so forth.

Equally, simply don't refer to HTTP status codes, as one assumes that the 410 would not mention

[2015-11-25 23:38] aaronpk commented on #4
We saw something similar to this with Trackback, where the actual comment text was sent in the Trackback payload. The issue was that it was quickly overrun by spam since there was no verification step. In order to support sending actual content in the payload, you'd have to have some sort of authentication or signature method, which is definitely a different spec. Like Kevin said, the document at

[2015-11-25 23:40] azaroth42 opened #7 "Move everything from Testing down to a Note"
The content that follows "How to test webmentions" is implementation rather than specification focused, and would be great to keep, just in a Note or other mechanism than a spec :)

[2015-11-25 23:48] azaroth42 commented on #4
Right, I'm not suggesting that Object (or subClass) be sent, just some subset of the Activity subClasses.

For example:
[code]
Looks a lot like:
[code]

That can still be verified by dereferencing the URI of the Activity, and could at the same time convey more (verifiable) information such as:

[code]

Or similar.

[2015-11-25 23:54] csarven commented on #3
XXX: This issue was inappropriately closed.

Re-openning the issue on the grounds that 1) it was acknowledged (at least on IRC) that there are relevant/useful issues which could be created in more concise form 2) the individual that acknowledges 1 and still wants to close the issue, needs to take on the workload to create new issues. Therefore, I will re-open this issue and let the conversation co

[2015-11-25 23:56] kevinmarks commented on #1
I think target is a MUST, as it is not clear by inspection how many URLs the endpoint covers, so indicating the target for the mention is key if you want it to be accepted. This is not just true for a given website, but for services like webmention.herokuapp.com and webmention.io that accept webmentions for URLs on many web sites.

I agree property is an optional extension.

[2015-11-25 23:58] tantek commented on #3
@csarven that's not new information. @aaronpk closed the issue because the original issue was resolved, thus I'm reclosing. He noted and requested that any other issues be noted as new issues. It is the burden of those that think there are new issues that matter to create those new issues, not aaronpk's burden.

If you or anyone else thinks the tangential commentary in this thread contained issues

[2015-11-26 00:07] kevinmarks opened #8 "Pingback is not defined in the rel registry (from #3)"
The IANA registry is not used for HTML rels.
The [existing-rels](http://microformats.org/wiki/existing-rel-values#webmention) registry has been [updated](http://microformats.org/wiki/index.php?title=existing-rel-values&diff=prev&oldid=65323) with the current specification link.

[2015-11-26 00:20] aaronpk commented on #6
Thanks for bringing this up. There has actually been quite a lot of previous discussion on this, however nobody has yet mentioned the points you brought up. Here is some of the past discussion: http://indiewebcamp.com/deleted-404-discussion

All that said, my inclination is that the risks of treating 404 as a delete outweigh the benefits. Happy to continue the discussion on this though.

[2015-11-26 00:21] tantek commented on #6
A 410 indicates an explicit deletion. The many situations you mention are not explicit deletions, accidental at best:
* domain name being sold - the original owner did not explicitly delete the previous posts
* domain name being reused - same.

OTOH - the downside risk of temporary 404s due to unreliability in the web causing errant deletions is a real risk and avoiding that greatly outweighs the

[2015-11-26 00:24] tantek commented on #8
Updating title as I think "webmention" was intended, not "pingback". Noting that @kevinmarks also resolved the issue by updating the rel registry thus closing as handled.

[2015-11-26 00:24] #8 closed

[2015-11-26 00:29] azaroth42 commented on #6
Thanks for the pointer! Then my suggestion would be to double down on 410, and delete the second clause of the source resource no longer linking. All of the same situations would apply to a new resource that happens to be at http://example.com/index.html, post domain transfer or new CMS install. Currently it seems inconsistent, as the 404 response won't link to the target (barring extreme hacking

[2015-11-26 00:39] kevinmarks commented on #8
Yes, sorry was trying to capture the important bit of that discussion. Pingback *is* in existing rels as well http://microformats.org/wiki/existing-rel-values#pingback

[2015-11-26 01:28] csarven commented on #1
The same argument can be made for the property, hence it is a MUST. It is equally possible to have different relations between the same source and the target.

Keeping property and target as SHOULDs is workable and encouraged. If we want to ensure no ambiguous mentions are made, then property and target are MUSTs.

The 3rd party centralized services like the ones you've mentioned above are not of

[2015-11-26 08:42] kevinmarks commented on #1
Eppur se muove: - I have webmentions implemented across multiple sites using a variety of services that both send and receive them. None of them support the 'property' extension, so it is clearly not a MUST.
All of them support target, and use it to disambiguate. My webmention endpoints are readily discoverable using the defined protocol from my sites. Here are 2 years worth for a couple of sites:

[2015-11-26 08:55] csarven commented on #1
The point about having you implement the property parameter is so that you understand better how it works. I hope I don't have to repeat myself, but please understand that, target is not a MUST either. What you think applies to target equally applies to property. So, if you want to go ahead and think property as an extension, that's fine. Understand that, target is also an extension using the same

[2015-11-26 09:40] melvincarvalho commented on #3
Thanks for the input on this thread.  I've unlocked and reopened this as I feel there was not unanimous consent that it should be closed.  Please let's not turn this into a lock / unlock war :)

I do agree with aaron that it would be advantageous to isolate and split off items that do not relate specifically to the original points made and split them into new issues.  I will try and do this if I g

[2015-11-26 10:02] bblfish commented on #3
It is probably indeed worth opening new issues, as the thread is now a bit long. It was not clear at the first closing wether that meant none of the points should be debated, if the initial issues had been settled, if this was off topic for the Group, or if new issues should be opened.

[2015-11-26 10:13] melvincarvalho opened #9 "It is unclear how to convert "source" and "target" parameters to URIs"
In section 5 of the protocol

    source set to Barnaby's post's permalink
    target set to Aaron's post's permalink.

Source and target are form encoded parameter.  While this makes sense in that context it suffers from a couple of weaknesses.

- Similar semantics may be wished to be sent with another mime type (e.g. using those developed by the social web WG, such as JSON based or other w3c rec

[2015-11-26 10:16] melvincarvalho commented on #3
I've added https://github.com/w3c-social/webmention/issues/9

[2015-11-26 12:06] bblfish commented on #9
I suppose by *the protocol* you mean [webmention](http://indiewebcamp.com/webmention). It's always good to add links, as people can come to a page from any context.

As it happens, that is the problem with urlencoded key/value pair forms that lack a global namespace: since people/agents can come to a resource from any other server - we are in a p2p global information space after all - there has to

[2015-11-26 12:28] bblfish opened #10 "urlencoded attribute/values have incomplete semantics"
[Webmention's](http://indiewebcamp.com/webmention) urlencoded form communication mechanism has a problem when crossing contexts ( eg, between servers owned by different organisations or individuals). This is also known as Cross Origin communication, and special rules apply to it in Web Browsers (eg. [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS)).

For most html Form

[2015-11-26 12:33] bblfish opened #11 "clarifying URLEncoded form meaning"
In [Lack of context WebMention](https://github.com/w3c-social/webmention/issues/10) the problem of the meaning of URLEncoded forms as paramter/values is considered.

This may not be that difficult to do. We could define a new `Link:` relation say `urlencoded` that would point to a transformer from urlencoding to rdf. This would allow a client on making a request to a webmention endpoint

[code]
To

[2015-11-26 13:03] bblfish commented on #9
there is still a problem with this proposal in that it is not clear what the subject of the attribute/values is.

[2015-11-26 16:51] gobengo commented on #3
I edited the OP to strik through the parts where I was wrong and/or chose bad wording.

[2015-11-26 16:54] bblfish commented on #3
There are now 3 issues that some of what was discussed here: A good entry point is [Lack of Context in Web Mention](https://github.com/w3c-social/webmention/issues/10)

[2015-11-26 17:08] gobengo commented on #9
@melvincarvalho Would it resolve your concern (and this issue) to add something like this (exact verbage left to editor) to the specification?

"Webmention-receiving services that store or republish the 'source' and 'target' properties as URIs SHOULD do so using [http://purl.org/net/pingback/source](http://dssn.org/pingback/ns/namespace.html#idp183472) and [http://purl.org/net/pingback/target](htt

[2015-11-26 17:23] bblfish commented on #9
@gobengo

- it's unlikely that this will be accepted by the IndieWeb folks, as they will argue that it is ugly
- it partially answers the problem here but not fully as per my previous remark that it is not clear what the subject of the request is
- it won't scale to more cases ( see issue #11 ), meaning that there would be even less reason for it to be adopted by the IndieWeb folks, nor for it to

[2015-11-26 17:29] rhiaro commented on #9
I was gonna suggest similar to @gobengo, plus the `webmention` rel value could be mapped to `pingback:to`.

@bblfish The spec says upon receipt of a webmention a URL must be returned, so the subject of `source` and `target` would presumably be that URL - the 'webmention object' (a `pingback:Request`?). (will send a longer reply to #11 later).

[2015-11-26 17:33] bblfish commented on #11
In response to @gobengo's remark in issue #9 , here is an reason why just using URLs as attribute names does not get us very far. Attribute values in a string are not good enough to reconstruct the data structure.

Here is an example: imagine you have a form ask you for your `name`, your `age`, and a number of address fields where the list of attribute values would end up being for example:

* `st

[2015-11-26 17:41] melvincarvalho commented on #9
@gobengo assuming that's the ns used, that would work yes.  However, there's talk of purl.org being revamped.  So it would be good to get consensus on where to put it.  But in principle, yes, that sounds like improved text.

@bblfish agree with all your points.  But the subject issue was not raised here, let's follow that up in #11 and perhaps try and resolve just "source" and "target" in this thr

[2015-11-26 17:47] rhiaro commented on #10
In order for someone to accidentally join the army (or buy a product, sign a contract, etc) by sending a webmention using the current spec:
a) the person must link to create a document linking to the domain of the suspect service.
b) discover their script which handles such `POST` requests which has been explicitly delegated as the `webmention` endpoint by the service (so the service would have to

[2015-11-26 17:55] bblfish commented on #10
@rhiaro, the army example is meant to help provide a simple example to focus your attention on security issues. It's not meant to be realistic, though it is not as unrealistic as you may think, if you read a bit of history, or if you follow the news. Or you only need to go to an auction and raise your hand at the wrong moment to understand that meaning goes beyond what you intended to mean.

Authe

[2015-11-26 17:58] rhiaro commented on #11
@melvincarvalho Replying re: subject in https://github.com/w3c-social/webmention/issues/9#issuecomment-159966620 Think of posting a webmention like writing to an LDP container - when you post the subject hasn't been created yet, but the server then creates a URI for it and returns that to you. That's already in the spec. So the subject doesn't ever need to be a blank node, but the URI is generated

[2015-11-26 18:13] bblfish commented on #11
There is nothing that specifies in the URLEncoding specification that you are meant to think of things the way you want to interpret them @rhiaro . The example I posted above with the address is just meant to show that most forms create data structures that are much more complex than the one envisaged by the initial webmention protocol, so that the issue of the subject is just one small issue amon

[2015-11-26 18:28] dissolve commented on #11
Trying to follow all the threads going on from email notifications.

Perhaps the spec should make it clear that NO DATA other than addresses of location where the data can be fetched be provided unless some authentication is provided (leaving method of auth up to implantation)  At that point you can include a single field for the encoding and a single field for a serialized form of data.

Basicall

[2015-11-26 18:32] bblfish commented on #11
@dissolve that does not answer the question as to how the client knows that the server will actually interpret what you send this way, or how a client that lands on such a resource could find out what to send it.

[2015-11-26 18:39] rhiaro commented on #11
Re: "how the client knows that the server will actually interpret what you send this way" - the client just discovered the endpoint to post to. The server, in pointing to a webmention endpoint, is explicitly saying  'you can post `source` and `target` here according to the webmention spec'. Right..?

Re: "how a client that lands on such a resource could find out what to send it" - hmm, definitely

[2015-11-26 18:48] bblfish commented on #11
@rhiaro you don't take into consideration

1. that people may maliciously point to a form that uses the same attribute values as those you are using. ( `source` and `target` seem to be very meaningful in a military context, just as much as in the webmention one)
2. the web is designed so that there is no one way to reach a resources. You have to take into account that people may bookmark resources

[2015-11-26 18:59] rhiaro commented on #11
@bblfish Assume I'm a bit dense, and walk me through 1.
a) I link to a site which unbeknownst to me has a malicious, fake webmention endpoint, and discover this, and post to it.
b) I have posted to a form 2 URLs, which it accepts and processes in order to misuse.
c) ..? Given that a malicious script can go and crawl for pages which link to other pages, if that's all it needs to do malicious things

[2015-11-26 19:09] gobengo commented on #9
@rhiaro

It seems to be that [`pingback:Item`](http://dssn.org/pingback/ns/namespace.html#idp183472) is more fitting than `pingback:Request`, which is linked to as http://purl.org/net/pingback/Request, but 404s

@melvincarvalho

Cool. I suppose I'm implicitly proposing trying to make use of the existing pingback vocab instead of introducing a new one (until/unless we see a great reason the pingbac

[2015-11-26 19:10] bblfish commented on #11
@rhiaro
In response to 1. you have software that comes across a site that points perhaps mistakenly, perhaps maliciously to a form that accepts the same attribute value pairs as the one specified by WebMention. You then post your content to that site, giving you results other than those you expected. The site containing the form may not at all be malicious. It may be a site you are already connect

[2015-11-26 19:13] sandhawke commented on #10
@bblfish, am I right in understanding that you're making a slippery slope argument here?   You're not saying there is a weakness in webmention itself, but rather your claim is that if folks adopt webmention they will in the future be more likely to build systems that have this kind of army-sign-up vulnerability.    Is that right?

[2015-11-26 19:14] rhiaro commented on #9
@gobengo For when purl.org is down, the actual SP vocab is here: http://dssn.org/pingback/ns/namespace.html. Probably not the best place to be debating the semantics of the terms, but `pingback:Item` has seeAlso to `pingback:Container` (which I *believe* is a type for the endpoint itself?) so that doesn't feel right to me, although none of them have descriptions so it's not clear what's intended.

[2015-11-26 19:16] gobengo commented on #11
@rhiaro

@bblfish

I agree, but there's more the request than just the request body and content-type. The [HTTP Post method](http://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html#sec9.5) is what implies what the body is for.

[2015-11-26 19:21] bblfish commented on #10
@sandhawke there is a weakness in webmention yes, since attribute value pairs are lacking the context of interpretation. The `application/x-www-form-urlencoded` mime type does not provide the required context. This context was provided in the human readable web, by natural language placed around the form, added to the fact that the form is usually only sent to the server from which it came - known

[2015-11-26 19:24] gobengo commented on #9
Right by the namespace URI is still `http://purl.org/net/pingback/`. I agree that the canonical document that describes that namespace can/should be somewhere that stays highly available.

Oh I assumed 'seeAlso' was just 'this is relevant' not 'this is equivalent'.

I think we're essentially agreeing so happy to let this rest.

[2015-11-26 19:30] gobengo commented on #11
I can't really understand what that is, but looks like it involves a 'urlencoded' link relation that I can't find any mention of anywhere else.

I sense an aversion from others to make a more complex version of the pingback protocol, and to keep the webmention 'core' as simple as it the current draft is. And I think I agree after the discussion in #3. More complex things (other properties, other m

[2015-11-26 19:31] bblfish commented on #11
@gobengo `POST` does make it explicit that you are creating or altering a resource, but that does not provide enough information to tell you what the content of the message is, when combined with `application/x-www-form-urlencoded` mime type. It is the mime type that usually helps make the interpretation of the content explicit, but www-form-urlencoded does not provide enough of it - in the non hu

[2015-11-26 19:32] sandhawke commented on #10
Sorry @bblfish I'm not seeing the actual security hole here.    Can you give me a minimal Alice and Bob scenario, where some real harm is done to Alice because of how webmention is designed?

[2015-11-26 19:38] bblfish commented on #10
Bob gets to known Alice at a party and she gives him card. Someone has altered her webmention endpoint to point to the "join the military" web form and the country is in a state of war (not difficult to imagine if you follow the presidential elections in the US and the news). Bob wants to say hi to Alice, but instead says hi to the military and is recruited.

[2015-11-26 20:28] sandhawke commented on #10
Not yet convinced, but can I simply this to:  Alice and Mallory meet at a party.   Alice gets Mallory's business card.   Later, Alice posts about the party and mentions meeting Mallory.   Following proper etiquette she links to Mallory, and ends up doing a webmention.   Unbeknownst to Alice, Mallory actually set his rel=webmention endpoint to be the army recruiter, so now Alice's system actually d

[2015-11-26 20:36] dissolve commented on #10
To simplify it more, remember that anyone can send a webmention for anyone else. So really it's just that Alice posted data linking to anyone who has a webmention endpoint.  Someone can send a webmention on her behalf without her knowing.

[2015-11-26 21:06] bblfish commented on #10
@sandhawke the point is that posting two key value pairs can have many different meanings in different contexts. So anyone is free to work out a better example . If the endpoint on the other hand returned a representation with the following type of header, then this type of issue would not arise.

[code]

Its really quite simple. It's also why an [LDP Container - see example 2](http://www.w3.org/T

[2015-11-26 21:07] sandhawke commented on #10
@dissolve I think you're going in another direction.    I think the supposed hole here is that webmention gets you to POST somewhere blindly.  It's a POST done without any credentials, so some would say it can't do anything bad, but I think bblfish is imagining that maybe sometimes doing I POST even without credentials could be taken as a commitment.    I think there may be occasional poorly desig

[2015-11-26 21:08] bblfish commented on #10
@sandhawke in issue @11 I also point out that webmention may be tied in with authentication in the future, and that can't be ruled out.

[2015-11-26 21:11] sandhawke commented on #10
Example: a survey with two submit buttons, VOTE YES and VOTE NO, which have different end points and just count the number of unique ip addresses which post anything to each of those addresses.   Webmention could be used to subvert that vote.     I'm not sure this is big enough to be worth worrying about, but if it is the only fix I can think of requires another round trip.    That round trip is s

[2015-11-26 21:43] dissolve commented on #10
In that case it's poor design (especially since there is no mechanism for multiple endpoints). Also the poll is not checking the source to verify the fact that it's a vote for THAT poll.

[2015-11-26 22:04] sandhawke commented on #10
@bblfish how can a header possibly help, since the agent doing the POST won't see the header until after it's competed the POST.

[2015-11-26 22:06] sandhawke commented on #10
@dissolve yes, I said this only mattered for "poorly designed systems", as far add I can tell

[2015-11-26 22:18] bblfish commented on #11
@sandhawke [asked the following in issue 10](https://github.com/w3c-social/webmention/issues/10#issuecomment-159998438)

As this is more relevant to this issue I'll post the answer here:

- the agent could do a `HEAD` first, and then a `POST`
- for JS browser agents that want to `POST` to a different origin, there is in any case the cost of the initial [CORS](http://www.w3.org/TR/cors/) preflight

[2015-11-26 22:23] bblfish commented on #10
@sandhawke I answered on issue #11 as your question is more precisely related to that. The thread here concerns not just that possible answer but the whole issue of the problem of creating a resource where the mime type does not make the meaning of the content sent explicit, as is the case for `application/x-www-form-urlencoded` content.

[2015-11-26 22:27] sandhawke commented on #10
@bblfish in that that case, there's no problem. If there is ambiguity in a contract, you can't hold people to your chosen interpretation.   Since application/x-www-form-urlencoded is entirely semantically ambitious, each post is entirely ambiguous, and thus there's no danger here.

[2015-11-26 22:29] bblfish commented on #10
@sandhawke the form content is ambiguous in a global context, but not in a local context. In the local context you are meant to read the form, before you send it. That's everyone experience using any shopping service one the web.

[2015-11-26 23:37] kevinmarks commented on #10
As webmention is defined, it is just a notification that one URL (source) linked to another (target), which is verified by reading the source URL and interpreting it. The context is provided there. It need not be sent by either party; it is an unsourced but verifiable assertion.

What this thought experiment does illustrate is the danger of extending the webmention protocol beyond this, as discuss

[2015-11-27 00:14] sandhawke commented on #10
@bblfish you've make an unjustified leap.   Clicking on a form can legally bind someone because it indicates agreement.  That clicking might under the covers result in and http POST, true.   But the POST is not the agreement.   If someone activates a mechanism other than that form but which cause the POST, they are in no way obligated.   It is of course trivial to make a form on one site which cau

[2015-11-27 00:19] sandhawke commented on #10
@kevinmarks obviously each extension or proposal for modifying standard webmention needs its own security analysis.   I don't see how Henry (IMHO incorrectly) thinking he's found a hole in basic webmention could possibly allow us to conclude anything about webmention or possible extensions.

[2015-11-27 00:40] sandhawke commented on #11
@bblfish, as I recall, you were never able to convince people in the LDP WG that this was a meaningful issue.  Those folks were all completely sold on RDF and the Semantic Web stack.   If you're going to try to convince folks here, I suggest you try it without any hint of RDF.   But I recommend against spending any time on this.

[2015-11-27 01:09] melvincarvalho commented on #10
Donald wishes to say good night to his wife.  He uses a webmention form to to his wife's endpoint pointing to the message "Good night, dear".

However Donald happens to be logged in to his work account which is connected to a drone system.  By mistake the webmention is routed to a form which is used to target drone strikes.  By adding "target" of his wife, the AI enabled drone system is able to de

[2015-11-27 06:44] kevinmarks opened #12 "Should verification be a MUST?"
The current spec says:

Making this a MUST seems a clearer statement of intent for the protocol. Posting unverified links is the Trackback problem.

[2015-11-27 08:54] csarven commented on #12
If target previously established trust with source, the verification step may not necessarily happen. That's just one counter reason as to why it can't be forced in practice.

If target announces the mentions it receives without verifying, it is their decision because they ultimately control what to publish. This is always the case regardless of what the spec says.

With respect to the verificatio

[2015-11-27 09:06] bblfish commented on #11
@sandhawke nobody in the LDP group was pushing `application/x-www-form-urlencoded ` communication, so this discussion certainly would not have come up. The IndieWeb group on the other hand were putting forward a number of protocols to use application/x-www-form-urlencded, at the Paris Face to Face. If there is to be interaction between LDP group and such protocols something like this is needed. Di

[2015-11-27 09:14] bblfish commented on #10
yes @melvincarvalho that is a good example.

If @sandhawke is really serious about the importance of anonymity here, then I suggest that he make a proposal that require that WebMention  MUST be anonymous.

I am certainly interested in non anonymous WebMentions, and so a lot more problems pop up.

[2015-11-27 10:20] melvincarvalho commented on #10
@bblfish got it.  So this is less a security problem with webmention itself, but rather, a problem with urlencoded forms, in general.

Are there any existing W3C specs that have standardized the passing around of form encoded variables?

If not, perhaps standardizing on a JSON version, a la activity streams, solves this problem.

[2015-11-27 10:36] csarven commented on #11
IWC is essentially [re-inventing](http://indiewebcamp.com/micropub) a subset of [RDF/POST](http://www.lsrn.org/semweb/rdfpost.html).

[2015-11-27 11:58] bblfish commented on #11
The IndieWebCamp has not yet taken the name space issue into consideration, so its not re-inventing RDF/POST. It is unlikely that #9 or RDF/POST will be acceptable to IndieWebCamp given that it is not easy for their developers to see the point of it. On the other hand the answer proposed here could bridge the gap elegantly.

[2015-11-27 12:07] bblfish commented on #4
As activity streams has its own mime type, this solves one major problem of the lack of context of `application/x-www-form-urlencoded` mime types, though that can be answered as per issue #11 "Clarifying URLEncoded form meaning".

It still requires the endpoint to declare the interpretation it will give to a POST, so that the side effects are properly understood. In this case I think the side-effe

[2015-11-27 12:33] csarven commented on #11
IWC has considered [namespaces](http://indiewebcamp.com/namespace) but decided against it. Baggage from microformat's [namespaces considered harmful](http://microformats.org/wiki/namespaces-considered-harmful) and handful of other cherry picked anti-patterns - essentially conclusion/agenda first, compiling only supporting evidence next by the vocal minority, in combination with wiki policing etc..

[2015-11-27 14:05] bblfish commented on #11
yes, that is why this proposal does not require IWC users to be preoccupied with namespaces. There is just the requirement for a Link Header, and they can work with the Semantic Web team where we can put what we need at the URL location to be able to automate server installations.

[2015-11-27 18:30] azaroth42 commented on #9
Can someone clarify the distinction with #10 please? This issue is /only/ about republishing once received?

[2015-11-27 19:01] bblfish commented on #9
This is a particular answer to the problem discussed in #10

[2015-11-27 19:22] sandhawke commented on #11
@bblfish you made the army-signup argument repeatedly in LDP WG, falling on deaf ears.   The particular details were different but the underlying issue was the same.   You were saying that it matters what people POST.   But it doesn't, unless there are more particular details, which don't arise in LDP or webmention.  You're bringing distant philosophical hypotheticals into an engineering discussio

[2015-11-27 19:24] azaroth42 commented on #4
Some rationales for allowing additional, potentially verifiable information:
  * And endpoint can use the additional information for filtering.  If I only track Likes, then I can drop on the floor any request that does not have that type.  Or that I only track people I know, and hence will filter on actor.  This saves the verification round trip, which is expensive, for activities that are not of

[2015-11-27 19:27] bblfish commented on #11
I have no idea how some argument that may sound similar made in another forum affects this one. Perhaps it will be easier if you stick to argument made here @sandhawke .

[2015-11-27 19:29] sandhawke commented on #11
@csarven I think interop is still easy, as long it's clear when one is at the boundary.   For example, one might use the rel='webmention' as a boundary signpost.    It's a little more code, but it's straightforward.

[2015-11-27 19:30] sandhawke commented on #11
@bblfish I'm just trying to help you understand why your argument here will be ignored, I expect, and how you can re-frame it, if you really think it's that important.

[2015-11-27 19:34] bblfish commented on #11
Ignoring good arguments seems like an application of  the [ostrich strategy](https://www.linkedin.com/pulse/20130605114635-17102372-applying-the-ostrich-strategy-to-social-media). I can't really make the argument clearer than I have here. Others seem to have understood. Not you @sandhawke . No problem.

[2015-11-27 19:43] sandhawke commented on #11
Okay, switching to ignoring this issue.

[2015-11-27 19:45] bblfish commented on #11
can we delete your comments @sandhawke so as to reduce noise on this thread?

[2015-11-27 19:51] sandhawke commented on #11
Sure, I deleted them.    Perhaps I should have sent them in private email to you instead anyway.   I suggest you delete your replies as well.

[2015-11-27 19:52] bblfish commented on #11
ok done.

[2015-11-27 20:45] kevinmarks commented on #4
You don't know who sent the webmention, so you should only trust
information that you have verified by inspection.

On 27 Nov 2015 11:24 am, "Rob Sanderson" <notifications@github.com> wrote:

information:

track Likes, then I can drop on the floor any request that does not have
that type. Or that I only track people I know, and hence will filter on
actor. This saves the verification round trip, wh

[2015-11-27 21:17] bblfish commented on #11
Just noting that @kevinmarks [is echoing some of the points made here in issue 4](https://github.com/w3c-social/webmention/issues/4#issuecomment-160193498). For those who don't like  the Army example @melvincarvalho [came up with an alternative one](https://github.com/w3c-social/webmention/issues/10#issuecomment-160013380)

[2015-11-27 21:49] melvincarvalho commented on #11
@bblfish what about a simpler solution.  Simply add the parameter

type=webmention

That should provide enough context for a processor to not get confused.

It would also play nicely with a linked data paradigm where you'd want to add rdfs : type = Webmention.

Does it scale to the web?  Possibly not.  But would it work in practice?  Probably yes.

However, in a JSON formulation, which I think is

[2015-11-27 22:31] bblfish commented on #11
where do you want to put the type=Webmention?

[2015-11-27 22:37] bblfish commented on #11
If it does not scale to the web, then it can't work in practice on the web.
The reason CORS ads preflight requests on POST, PUTs and other non idempotent methods is for reasons that are not far from the issues being discussed here.

[2015-11-28 06:42] kevinmarks commented on #1
So, I implemented a webmention receiver from scratch at http://mention-tech.appspot.com/
It confirms that 'property' is unnecessary, but target is required, as it will accept any source and target URL.
<link rel="webmention" href="http://mention-tech.appspot.com/webmention" />

[2015-11-28 09:15] kevinmarks opened #13 "Why not allow multiple webmention endpoints?"
Currently the spec says:

However it does not address what should be done if multiple endpoints are indicated for a page using one of these techniques.

I'd suggest that in this case, sending a webmention to each one found makes sense. As webmention does not define what endpoints should do, it is clear that there could be different webmention triggered services - one that creates useful comment th

[2015-11-28 12:28] csarven commented on #1
Dear @kevinmarks , thank you for implementing the property parameter. I can confirm from my implementation at http://csarven.ca/webmention that target is not required. It works without it. I am able to receive and process without target. My implementation can process given source as minimum. If property and target are provided, great. Processing and decision making is even easier, better and accur

[2015-11-28 12:38] rhiaro commented on #1
I'd rather see property required than target optional.

Could a compromise be a default value for property for those who wish to send a 'vanilla' mention or a mention with an ambiguous relationship? They must send property=mention/link/href/null ?

[2015-11-28 12:40] kevinmarks commented on #1
Target optional is a mistake, yes.

[2015-11-28 12:48] elf-pavlik commented on #8
As I already explained in https://github.com/converspace/webmention/issues/38

Microformats wiki registry applies only to HTML5 and **not to HTTP Link header**. IANA registry will have new workflow soon which we should use: https://github.com/mnot/I-D/issues/40 | https://github.com/mnot/I-D/commit/9da94377a8cceab40b401fcaa81a832a29dbf3c2

Would you like to reopen this issue or I should start a new

[2015-11-28 12:50] rhiaro commented on #13
That seems like a useful thing to concretize in the spec.

[2015-11-28 12:59] kevinmarks commented on #1
well, I just tried with u-in-reply-to and rel="vote-against" and got 403 Forbidden each time

[2015-11-28 13:00] csarven commented on #1
I prefer to see all three. It only improves the quality of the webmention. All three components are integral to the claim that's being made. Something is referring to something.

More specifically: since the context is mentions, we are dealing with something along the lines of `property=webmention` as a super-property. So, implementations can treat the property value as they want to. As I've state

[2015-11-28 13:09] csarven commented on #1
From a non-technical point of view, I hope that `property` can also be considered as what I'd like to think of in terms of "bridge building" between communities / technical approaches. I strongly believe that it benefits everyone in the end, and if I wasn't able to explain that clearly, I can try harder. I hope that alone accounts for something. cc @sandhawke @cwebber

[2015-11-28 15:37] csarven commented on #1
Kevin, please refrain from adding new information to the existing comments you've made, right after reflecting on the comments which were made after yours! Create a new comment instead. That's just being polite and easier for people to follow the conversation.

Regarding your statement: "requires you to know the receivers' parsing model", that's completely misleading if not completely misinterpret

[2015-11-28 15:46] rhiaro commented on #1
You don't need to know anything about the receiver, only how you mark up your own documents. The property you send is yours, not theirs. If they don't understand it, no biggie, up to them to decide whether to process anyway (as it currently is - internal logic to decide when/if/how to verify is assumed already - but they can now choose to skip even parsing documents with properties they don't unde

[2015-11-28 16:58] bblfish commented on #1
Note: if one allows something like #11 "clarifying URLEncoding Parmeters", then one could add new relations at any point in time without trouble.

[2015-11-28 17:56] kevinmarks commented on #1
Anyone can add new properties at any time by marking up their source
document with them. They can even add multiple properties to accommodate
different parsers' preferences that way, without having to keep track  of
which endpoint is expecting which property and will ignore the others.

#11 indicates that "without trouble" is defined by Henry in some personal
namespace that does not interoperate w

[2015-11-28 18:07] bblfish commented on #1
@kevinmarks how do I know with urlencoded parameters what the meaning of a new key value pair is? In normal forms generated for the web from the 1990ies the form is generated by the same Origin as the the resource consuming the attribute values. In the case of a distributed protocol, where a software agent is about to send a message to another Origin, how does that agent know

 1. what parameters

[2015-11-28 18:07] dissolve commented on #13
I think it makes a lot of sense to not allow multiple endpoints.  Its trivially easy to set up an endpoint that just repeats the message to any number of endpoints you need and it takes the requirement off of webmention senders of possibly sending numerous webmentions.  If someone starts to go a bit crazy and has 10 endpoints, we require the  WM sender to send 10 POSTs?  If any one implementation

[2015-11-28 18:52] kevinmarks commented on #1
As far as I can tell all the HTML specs punt on what servers should do [w3c HTML5](http://www.w3.org/TR/html5/forms.html#implementing-the-server-side-processing-for-a-form) says

The closest thing to a spec I could find was in the [old CGI docs](https://web.archive.org/web/20010203172800/http://hoohoo.ncsa.uiuc.edu/cgi/forms.html) which gives implementation pointers and then says:

Which is very P

[2015-11-28 19:08] bblfish commented on #1
@kevinmarks yes, exactly. Note especially: "and then do what you like with them", which underlies my [previous point](https://github.com/w3c-social/webmention/issues/1#issuecomment-160325110).

[2015-11-28 19:16] kevinmarks commented on #1
I'd say that nearly 20 years without a spec more formal than that indicates that we may not need one, given how much has been built on it, theoretical drone strikes notwithstanding.

[2015-11-28 19:26] dissolve commented on #1
So going back to the original point here, there are 2 proposals.  1) make target optional and 2) add a new property parameter.

Lets take taking target as optional first.  I think @kevinmarks has a perfect example of anything doing webmention handling as a service being a key place where it is needed to always be there.  This is a perfectly valid use-case and likely an important one.  I can see th

[2015-11-28 19:29] kevinmarks commented on #1
re https://github.com/w3c-social/webmention/issues/1#issuecomment-160312118 clearly I did not try all possible property values as that would both constitute a DDoS and violate the halting problem. All the values I tried, including the ones you expressly suggested gave a 403. That http://csarven.ca/interactions listed everything from 2014-11-13 onward as unverified/anonymous implied the problem was

[2015-11-28 19:29] bblfish commented on #1
@kevinmarks I updated the original post with some pointers to whatwg and w3c specs that help show that the distinction between origins is a well understood one. You don't come across it when programming normal client/server applications, so that is probably why you have not discovered it yet.
I'll delete this post in a few minutes, and allow you to delete yours, as this discussion is getting off t

[2015-11-28 19:35] kevinmarks commented on #1
This issue is about the property parameter - we should split 'make target optional' into a separate issue.

[2015-11-28 20:42] bblfish opened #14 "Webmention MUST be done anonymously"
One way proposed by @sandhawke and others to reduce the risks of situations described in [issue 10: Lack of context in WebMention](https://github.com/w3c-social/webmention/issues/10) is to force WebMentions to be anonymous. This way someone POSTing a form can never be taken to be responsible for doing so. This seems to be the argument [given by @sandhawke in a comment to that post](https://github.

[2015-11-28 21:25] bblfish opened #15 "Require same Origin"
A number of people here have trouble understanding Cross-Origin issues as discussed in [issue 10: Lack of context in WebMention](https://github.com/w3c-social/webmention/issues/10). See the discussion there or [@kevinmarks comment explaining forms in issue 1](https://github.com/w3c-social/webmention/issues/1#issuecomment-160329100).

One answer to this is to require that WebMention links only ever

[2015-11-28 21:30] csarven commented on #1
Making target optional was based on the fact that property and target are not absolutely needed, i.e., an endpoint can still be operational (one counter-example to the raised "issue" against that was: my http://csarven.ca/webmention endpoint).

The proper way forward is to provide both property and target. I was not advocating for target being optional any more than property being optional. They a

[2015-11-28 21:35] csarven commented on #1
re: https://github.com/w3c-social/webmention/issues/1#issuecomment-160330534

Yes, that's the whole point of a verification. Having said that, you do whatever you want to do.

Huh? Implementers will do whatever they want at the end of the day. I've explained at https://github.com/w3c-social/webmention/issues/12#issuecomment-160075573 that it is obviously possible and will even happen given that tw

[2015-11-28 21:35] rhiaro commented on #1
Receiver's call, I presume, as with all decisions regarding whether or not to verify a mention.

I don't know that implementors knowingly violating the spec is anything we can solve in the spec itself.

[2015-11-28 22:33] csarven commented on #1
re: https://github.com/w3c-social/webmention/issues/1#issuecomment-160330747 :

Then why did you intentionally make a false claim? The Web wants to know.

Why do you care about what I write at http://csarven.ca/interactions ? Do you think it has anything to do with the Webmention spec? Anything to do with my /webmention proposal? Anything to do with what's discussed on this github issue? No. On to

[2015-11-29 00:55] kevinmarks commented on #1
On Sat, Nov 28, 2015 at 2:33 PM, Sarven Capadisli <notifications@github.com>
wrote:

My apologies for the clumsy phrasing. I meant 'all the values I tried' - It
was nearly 5am and I was tired -I'd just spent a chunk of time wondering
why POST endpoints weren't responding to GET syntax, so when I fixed my bug
there I was puzzled why your endpoint was not working for me. The fresh
post was me using

[2015-11-29 01:24] kevinmarks opened #16 "Can target parameter be optional?"
Forking this off from #1 as they are independent issues.

Currently the spec says that the target parameter is required, so that a minimal webmention parser can just check that the URL is in the source document. My naïve example:

https://github.com/kevinmarks/mentiontech/blob/master/main.py#L119

[code]
Clearly, actually parsing the source document for actual links would be an enhancement here.

[2015-11-29 04:45] sandhawke commented on #16
I don't see why the target is much use at all.

Here's a first cut at what I imagine webmention endpoints running:

[code]

This relies on some parseForLinks function, which could just be a regexp but I hope we'll formally defined for each media type (another issue?), and a config.trackURL function which tells us whether a given URL is one this endpoint is supposed to be tracking.  We need that an

[2015-11-29 04:53] sandhawke commented on #14
I'd probably phrase it more as reducing the risk of XSS attacks, but yes, I'd agree we should say credentials (eg cookies, client certs, etc) MUST NOT be used during the webmention POST operation.  From what I've heard, this is probably being adhered to now, just because webmentions are pretty much always sent by a server anyway.

Alternatively we could say that if they are used, that's an extensi

[2015-11-29 04:59] sandhawke commented on #13
I don't care much either way, but agree this should be clarified in the spec.   I lean slightly toward agreeing with @dissolve.

One related concept is the idea of adding a type parameter to the rel=webmention  (headers and elements) to provide con-neg without an additional round-trip.   In this case, the client would look through the links for one which had a type it understood/preferred.

[2015-11-29 05:18] dissolve commented on #16
For me that trackURL function is an expensive operation.  You cannot tell immediately if a link is actually pointing to me without following it to see if it's a short link or redirect.  Twitter wraps all their links in their own url shortener.  How do I ever tell if twitter links to me?  I would not want to have to follow every link on a page to make sure it doesn't redirect to me.

Etag sounds in

[2015-11-29 05:34] sandhawke commented on #16
Good point @dissolve, I'd forgotten that aspect.  So, yeah, the URL shortener use case makes sense as a good reason to allow a target parameter.  I'm not sure it justifies making it mandatory, though, since it's just a performance issue.

[2015-11-29 05:48] dissolve commented on #16
It's actually more than just performance. It allows me to use anyy webmention endpoint to magnify a few requests to a ddos.  I create a page with a couple thousand links to some poor souls website.  Then I hit your endpoint without saying a target link.  You just hit them with all those requests for me and I only had to do one.  Huge magnification of the attack. Do that to multiple endpoints and i

[2015-11-29 06:00] dissolve commented on #16
Honestly I had forgotten this whole reasoning and just remembered it all now.  Probably a good thing for an FAQ.

[2015-11-29 06:18] sandhawke commented on #16
@dissolve Would that be addressed by saying the target MUST be provided in the case where there's a redirect (and is optional otherwise)?   The service issuing the webmention will know if this is the case, since it had to dereference the target to find out the endpoint's address.

I ask mostly out of curiosity.  If it's required in that case, it's probably no help to anyone to make it optional in

[2015-11-29 06:28] dissolve commented on #16
Huh. I hadn't thought about it in that way but yes I would say target is a MUST for cases where there is a redirect.

It's also pretty trivial to include since you have to know the target when you send the webmention.  So it's not like it adds any work on the sender (other than the case of multiple mentions needing to be sent to one endpoint) and can make the receiver's job much easier.

[2015-11-29 06:57] kevinmarks commented on #16
The etag/Last-modified handling belongs in the webmention receiver. That's on my list as indiewebify.me would thrash my server if it pinged homebrew website club notes at the moment.

[2015-11-29 11:01] bblfish commented on #14
Servers are peers on the web, and so can also authenticate, if only be delegation (eg. [WebID authentication and delegation](http://www.w3.org/wiki/WebID/Authorization_Delegation)).

Still this also implies that one must [Require Same Origin](https://github.com/w3c-social/webmention/issues/15). Otherwise the danger is that the page with the webmention link point to a form on another site that is d

[2015-11-29 11:01] csarven opened #17 "What constitutes the idea of source 'linking to' target?"
The intention of this issue is to clarify the following in the current spec in order to give insight into other issues.

Two simplified examples at source `http://example.org/foo`:

1. `<a href="http://example.org/bar">`:

    a. If the endpoint receives `http://example.org/bar`, there is a match.
    b. If it receives a different value, there is no match, but may want to process further at its ow

[2015-11-29 11:02] csarven commented on #16
When a webmention (claim) is submitted, the verification process simply checks whether it holds, i.e., whether it can be found at the source - after all, we are told that the source is making a statement about the target, so the question is, does it hold? The current spec says:

The semantics of whether "it actually links to target" or not can be more clear. I think this is the point we need to cl

[2015-11-29 11:17] csarven commented on #16
If we look at the shortURL example 2 at https://github.com/w3c-social/webmention/issues/17#issue-119353004 , cases b and c essentially result in the same scenario. Therefore, unless the target receives a URL which can be found at the source URL - naturally omitting the follow-your-nose case - it makes no difference if the source is using a shortURL or not. Which is equivalent to not being provided

[2015-11-29 13:50] dissolve commented on #16
Indeed, we should probably specifically list that if the URL is not found you disregard the webmention.

[2015-11-29 15:01] bblfish commented on #16
Instead of saying what to keep and what not to keep you can speak about Truth conditions: What is it that makes the content of the post True. If the agent wants to keep false propositions, then that's up to it/him/her.

Actually what you are doing is explaining how to verify the truth of the statement made in the `POST`.

[2015-11-29 15:21] sandhawke commented on #14
This seems to be tangled with #15.   Maybe that's unavoidable.

I take your point that in practice IP addresses are sometimes used as a credential.  Maybe not in the IWC community, but often in enterprise computing.  So it's impossible to really know one is making an anonymous webmention.

Conclusion: to avoid opening some security holes, cross-origin webmention is going to have to either be forbi

[2015-11-29 15:29] sandhawke commented on #17
Not sure this is the place, but can we agree `<a href="http://example.org/bar">http://example.org/foo</a>` is NOT linking to `http://example.org/foo`?     There are a bunch of other test cases involving relative URI resolution, HTML entities, punycode, etc, as well.    It may be we need separate notions on the sender and endpoint, too.  That is, a module that is doing webmentions for a document MU

[2015-11-29 15:53] csarven commented on #17
@sandhawke For anything from the HTML/XML families - I agree that /foo is not being linked to. It is just some text content. For text/plain or binary types, it is a _mention_.

[2015-11-30 15:32] dissolve commented on #3
closing this issue as its not open any more, original question was answered, any other issues should be in other issues

[2015-11-30 15:32] #3 closed

[2015-11-30 16:22] bblfish commented on #14
Ok, looks like we are actually making progress here.

[2015-11-30 16:36] aaronpk commented on #14
I don't see how a "pre-flight confirmation" actually adds any level of security. The first thing an attacker will do is set up a webmention endpoint that acknowledges that it is a webmention endpoint, and then any of these "attacks" are still possible.

[2015-11-30 17:18] bblfish commented on #14
What kind of attack are you imagining there @aaronpk ?

Suppose from the [webmention example in the Protocol Summary](http://indiewebcamp.com/webmention) that Aaron links to a webmention endpoint that claims to be a webmention endpoint ( In a way yet to be determined, but #11 provides some initial idea ). Now Barnaby's agent finds that endpoint, verifies that it indeed claims to be such an endpoin

[2015-11-30 17:23] aaronpk commented on #14
The only useful thing I can see out of this thread is adding explicit language that requires a webmention sender to not follow an HTTP 30* redirect when sending a POST request to the webmention endpoint, which is already explicitly stated in the HTTP spec but might be worth including here anyway.

[2015-11-30 17:57] bblfish commented on #14
@aaronpk

I don't think that addresses the core issue.

[2015-11-30 19:16] kevinmarks commented on #16
Yes Henry, and Gödel showed truth was undecidable by computers shortly afterwards.

Returning to empiricism, in practice we have services (eg http://brid.gy ) that remap twitter short URLs into webmentions by expanding them, and that in effect implement @sandhawke's `trackURL` model by monitoring twitter broadly. So, like indiewebify.me, this is support infrastructure for the protocol rather than

[2015-11-30 19:35] bblfish commented on #16
@kevinmarks Tarksi, Gödel and other logicians are the bread and butter of philosophical thinking on meaning and truth. Just check [Semantic Theory of Truth](https://en.wikipedia.org/wiki/Semantic_theory_of_truth), or the [Stanford encyclopedia of philosophy](http://plato.stanford.edu/entries/truth/#TarTheTru).

The protocols we are designing are not to make computers distinguish truth from falsety

[2015-11-30 19:37] wilkie opened #18 "Add Robustness or Clarification wrt Security and Verification"
Right now I am concerned. If the webmention is a public endpoint that is unauthenticated, then the computation it performs should be bounded. That is, you should know when you get a webmention that the effort it would take to verify will be reasonably deterministic. If you have to perform a GET, and then you have to parse, then it seems to be unbounded (unless the size of the source document is ca

[2015-11-30 19:41] aaronpk opened #19 "Add note about limiting the number of redirects to follow"
When checking if target is a redirect, there is potentially no end to the 301 redirect chain. Browsers have a limit where they'll stop following redirects after N. While specifying N is not a good idea, the spec should at least have a note about following redirects up to a chosen limit, and possibly recommending something sane such as the default that browsers follow.

[2015-11-30 19:42] csarven commented on #19
Sounds good. But in practice, it is going to be pretty up to whatever comes out of the box in the library the implementations are using.

[2015-11-30 19:43] aaronpk commented on #19
Yes, which is why I think it's best left as a brief mention rather than a specific hard-coded requirement.

[2015-11-30 19:45] wilkie commented on #19
I agree. Also many net implementations are low-level enough that you explicitly follow redirects or can specify a limit. You should certainly put a recommendation in to let people know that this is a concern so they can double-check the library they are using.

[2015-11-30 20:06] dissolve commented on #16
@bblfish @kevinmarks thats getting completely off topic

[2015-11-30 20:31] aaronpk commented on #19
On second thought, there isn't actually a good reason to require the receiver to follow redirects on target. May be better to not require receivers to follow redirects to avoid opening up new security issues at all.

[2015-12-01 13:13] aaronpk commented on #1
There was a good discussion about this [in IRC yesterday](http://socialwg.indiewebcamp.com/irc/social/2015-11-30#t1448907904402). The thing that finally clarified the actual benefit for me is that a source link may contain multiple kinds of links to the target, such as when someone posts a "repost" and "like" in the same post. Currently, most webmention implementations choose an arbitrary order wh

[2015-12-01 13:17] aaronpk commented on #2
Closing this issue as the original author already closed it agreeing with Tantek.

[2015-12-01 13:17] #2 closed

[2015-12-01 13:22] aaronpk commented on #19
Updated the spec to not imply that receivers are required to follow redirects on the target, and should limit the number of redirects they follow on source. https://indiewebcamp.com/wiki/index.php?title=Webmention&diff=23494&oldid=23442

[2015-12-01 13:22] #19 closed

[2015-12-01 13:31] aaronpk commented on #16
There are a few reasons why the target parameter is beneficial.

Looking at the implications for DoS attacks, without the target parameter, it becomes trivial to cause a webmention receiver to do unnecessary work of verifying invalid webmentions (webmentions that don't link to the target). At least when the target is required, an attacker has to customize the request per victim.

Without the targe

[2015-12-01 13:31] #16 closed

[2015-12-01 13:35] aaronpk commented on #6
Interesting point, but I think I would rather be more explicit about when the source no longer links to target triggering a delete. How about this? https://indiewebcamp.com/wiki/index.php?title=Webmention&diff=23495&oldid=23494

[2015-12-01 13:39] aaronpk commented on #15
Requiring that the webmention endpoint be on the same domain as the page would prevent webmention services from being able to exist, of which there are already a few. Other specs manage fine with allowing delegated services (PubSubHubbub, OAuth, anything using Webfinger, etc). Given that webmention requests are unauthenticated, even to the point where it's completely possible for anyone to send a

[2015-12-01 13:39] #15 closed

[2015-12-01 13:43] aaronpk commented on #14
From the original comment:

There is currently no way for a webmention sender to authenticate following the spec, so this seems like a non-issue.

[2015-12-01 13:49] aaronpk commented on #10
These arguments seem to be mostly poorly contrived examples, and it looks like a few of the more concrete issues have already been broken out into separate threads.

[2015-12-01 13:49] #10 closed

[2015-12-01 14:24] sandhawke commented on #15
@aaronpk I think you may have missed the point (as I understand it).  It's not webmention endpoints that are being 'attacked' here, it's all the millions of crufty old web forms, many of them behind corporate firewalls.   If webmentions are being sent from machines which are also inside that firewall, there's a new attack vector.  It may be there's no actual hole here, but the analysis has to be a

[2015-12-01 14:45] aaronpk commented on #15
A webmention can be triggered by a user's publishing software when a post is created, or when a post is updated such as after receiving a comment (see the related Salmention discussions on the wiki), or could be triggered by a webmention sending service, or can be sent manually via curl (we see this a lot when people are testing). I don't see how it's relevant for the spec to talk about protecting

[2015-12-01 15:40] rhiaro commented on #1
We don't have to decide on this right away anyway do we? Perhaps it's worth making a note of it in the spec (or feature at risk?) whilst we iron out other things, and try (hope!) to get implementors with a broader range of needs over the next while and revisit.

[2015-12-01 15:45] bblfish commented on #14
@aaronpk I don't understand your comment: All of the HTTP methods for authentication are available. One can have `401` with `WWW-Authenticate` headers, TLS authentication, password authentication using forms and cookies, etc. etc.... All of this is available to a client.

[2015-12-01 16:02] azaroth42 commented on #6
Definitely an improvement :+1: It now defines when deletes should occur consistently with the intent from the linked discussuon, as far as I can tell. It doesn't make any requirements about what to do or not to do for 404s or other scenarios beyond 200 and 410, which I think is fine -- only specify what is necessary to specify :smile_cat:

[2015-12-01 16:05] sandhawke commented on #15
Alice sets up an internal (behind the firewall) blog.  Mace creates an incendiary blog post about Alice or the company, provoking Alice into blogging about Mace's post, internally.   Alice's blogging software now does a webmention.   Mace controls where that webmention goes.   He can set the endpoint to a behind-the-firewall address (and he can do this just when Alice's software is asking, so ther

[2015-12-01 17:04] kevinmarks commented on #1
It needs much more clarification of what it consists of. Is it  a rel value, a class, or what?

[2015-12-01 19:10] aaronpk commented on #15
Thanks for the clear example, @sandhawke. I think this is a valid concern and I'm going to open a new issue that talks specifically about this security consideration.

[2015-12-01 20:26] aaronpk opened #20 "Security consideration: Attacker can cause webmention sender to send arbitrary requests to victim"
Assumptions:
* The victim is a server that processes query string parameters the same way as post body parameters (many web frameworks allow code to access these parameters the same way, so this is actually relatively common, e.g. PHP's `$_REQUEST` or Ruby (Sinatra)'s `params[:foo]`)
* The server performs some action that the attacker, Chuck, normally can't do from his own server (e.g. a form with

[2015-12-01 20:36] aaronpk commented on #20
Potential solutions:

* Require the webmention endpoint be on the same domain as the page that advertises the endpoint
* Have a "pre-check" step where the sender first queries the endpoint to determine if it supports webmention, e.g. making an OPTIONS or HEAD request and looking for a specific header

[2015-12-01 20:47] aaronpk commented on #20
Mitigation techniques:
* Limit the internal access of installed software on an internal network
* Add CSRF or authentication to internal endpoints that may be accepting post requests from internal servers

[2015-12-01 20:48] aaronpk commented on #15
Here is the follow-up issue that details this attack and provides some suggestions for moving forward https://github.com/w3c-social/webmention/issues/20

[2015-12-02 17:20] aaronpk commented on #6
Great!

[2015-12-02 17:20] #6 closed

[2015-12-02 17:55] gobengo opened #21 "Support whole-domain delegation"
link: https://hypothes.is/a/yHecWAE6SOewee7LbZheEg

Add a fourth discovery layer of whole-domain delegation via .well-known.
http://indiewebcamp.com/irc/2015-11-29#t1448856141695

(this could also just be documenting how to use webfinger for this)

This lets one domain delegate all its webmentioning to another provider without having to adjust server code to add new response headers or HTML

[2015-12-02 18:05] gobengo commented on #18
https://tools.ietf.org/html/draft-sporny-http-proofs-01

[2015-12-02 18:13] gobengo opened #22 "Senders and Verifiers should respect robots.txt"
If an alleged webmention endpoint is blocked by robots.txt on that domain, senders should not send to it.
If a receiver is about to verify by requesting some endpoint, and that endpoint is blocked by robots.txt, the receiver should not request it.
http://www.robotstxt.org/robotstxt.html

Is this a good idea?

[2015-12-02 18:24] gobengo commented on #13
Allow mutiple

[2015-12-02 18:35] azaroth42 commented on #4
Happy to close wontfix, given discussion. MicroPub or ActivityPump could fulfill these, without complicating webmention.

[2015-12-02 18:40] gobengo commented on #1
+1 for rel added as MAY

[2015-12-02 21:32] aaronpk commented on #22
robots.txt was originally designed for robots which crawl web pages ("recursively retrieving linked pages" [[1]](http://www.robotstxt.org/orig.html)). Because of this, it seems like it's not appropriate to use it in Webmention which is fetching specific URLs that are indicated to it.

[2015-12-02 22:18] aaronpk commented on #1
After discussing it in the F2F today, we came to the conclusion that this would be best as an extension, since it has the potential to introduce quite a bit of bulk to the spec. Additionally, there is already precedent for adding new things to Webmention starting out as an extension.

I will update the spec to link to extensions like Vouch and this one if it is written up as an extension.

I would

[2015-12-02 22:18] #1 closed

[2015-12-02 22:23] aaronpk commented on #4
Closing based on discussion this morning: http://www.w3.org/2015/12/02-social-irc#T18-32-04

Once you start sending things that look like activities, it is easy to start imagining sending actual content in the payload, which makes this look like its own spec and adds a whole host of security concerns and additional complexity.

[2015-12-02 22:23] #4 closed

[2015-12-02 22:36] aaronpk commented on #12
The other problem with saying verification is a MUST is that it requires the receiver to do work they may not want/need to do. If the receiver blacklists a domain, for example, they may just drop it on the floor.

I think what @kevinmarks is getting at is more along these lines:

How does that sound? I would like to bring this up in the call next week regardless.

[2015-12-03 00:02] kevinmarks commented on #12
That sounds like a good phrasing.

[2015-12-03 23:26] rhiaro opened #23 "Location of returned webmention URL"
-> The `Location` header SHOULD include a URL that can be used to monitor the status of the request, response body MAY contain this URL?

[2015-12-03 23:27] aaronpk commented on #23
s/Location/Link/

[2015-12-03 23:37] rhiaro commented on #23
rel value?

[2015-12-03 23:46] aaronpk commented on #23
rel=status is a thing, but it's unclear whether that's what its intention is: http://microformats.org/wiki/existing-rel-values

[2015-12-07 23:09] aaronpk commented on #23
Turns out rel=status was meant to be used on someone's home page and point to a place to find "status updates" the same way you'd link to a feed of blog posts. http://web.archive.org/web/20121231100232/http://monkinetic.com/2009/11/24/status-autodiscovery-relstatus.html

I'm pretty sure this isn't a common use case anymore (the post was written shortly after Twitter launched) and I'm tempted to ju

[2015-12-07 23:32] kevinmarks commented on #23
Why not Location? That's supposed to be where you check on the resource, surely.

[2015-12-07 23:39] aaronpk commented on #23
The Location header is only valid on HTTP 201, not 202.

[2015-12-07 23:46] aaronpk commented on #23
If you want to be pedantic, HTTP 201 would be an acceptable response since it would indicate that the webmention status object was created, and then the Location header would point to the resource (status of the webmention) that was created. An alternate version of this edit could be to say that if you are storing the status of the webmention in a way where the sender can check on it, then you sho

[2015-12-07 23:59] aaronpk commented on #23
Updated to include explicit 200/201/202 response codes: https://indiewebcamp.com/wiki/index.php?title=Webmention&diff=23665&oldid=23661

[2015-12-07 23:59] #23 closed

[2015-12-08 00:48] aaronpk commented on #17
Clarified that the source document must have an exact match of the target URL https://indiewebcamp.com/Webmention#Verification

Does this clarify it enough?

[2015-12-08 00:55] aaronpk commented on #13
Clarify only the first endpoint should be used: https://indiewebcamp.com/wiki/index.php?title=Webmention&diff=23674&oldid=23673

I also added an FAQ based on what we discussed at the F2F meeting: https://indiewebcamp.com/Webmention-faq#What_if_multiple_webmention_endpoints_are_discovered

Does this cover it for everyone here?

[2015-12-08 00:57] aaronpk commented on #12
Done: https://indiewebcamp.com/wiki/index.php?title=Webmention&diff=23676&oldid=23674

[2015-12-08 06:08] aaronpk commented on #18
As we discussed at the f2f meeting, I added a section that mentions this: https://indiewebcamp.com/wiki/index.php?title=Webmention&diff=23679&oldid=23678 Would you please review and let me know if that addresses your concerns? I'm happy to take suggestions for alternate wording as well.

[2015-12-08 06:23] aaronpk commented on #7
Agreed. I will do this as part of the conversion to respec.

[2015-12-08 06:44] aaronpk commented on #5
Thanks for this. I expanded the verification section to incorporate these changes. Does this address your concerns? https://indiewebcamp.com/Webmention#Verification

[2015-12-08 07:17] aaronpk commented on #21
Thanks for providing real-world justification for this use case. I'm considering adding the following as a fourth discovery step as you suggested.

---

If no webmention endpoint is found after searching the three previously mentioned locations, the sender MUST make a GET request to the [.well-known](https://tools.ietf.org/html/rfc5785) webmention path <code>/.well-known/webmention</code> on the s

[2015-12-08 08:01] gobengo commented on #21
Nice! I also think that this change would benefit from requiring a `?target` (or similar) querystring to specify the target of the webmention. This would make it as useful as webfinger.

The (real-world for me) use case is: Sometimes one origin will serve more than one separately-administered Sites.
e.g.
CNN (politics): http://www.cnn.com/2015/12/07/politics/donald-trump-muslim-travel-ban-rally/in

[2015-12-08 17:09] aaronpk commented on #21
Interesting. If the sender is going to include the `target` parameter, then why not also send `source`, at which point you've just sent the webmention to the `/.well-known/webmention` path.

[2015-12-08 18:27] kevinmarks commented on #22
This is a MAY at most - could be worth referring to, as some fetch abstractions respect it by default.

[2015-12-08 18:28] kevinmarks commented on #21
The drawback of .well-known as a side file is mitigated by making it last in the resolution order.

[2015-12-08 18:33] aaronpk commented on #21
Another option is advertising the webmention rel in [host-meta](https://tools.ietf.org/html/rfc6415)

[2015-12-08 18:34] wilkie commented on #18
Yeah looks ok. redirects are handled in a different issue. this seems fine.

[2015-12-08 18:34] #18 closed

[2015-12-08 18:35] kevinmarks commented on #20
I had a buggy implementation that sent `source` and `target` as query string parameters instead of form-encoded, and all the webmention endpoints I tried rejected them.
Is there a case for stripping query parameters  in the protocol step?

[2015-12-08 18:41] aaronpk commented on #20
@kevinmarks that's a separate issue, and worth documenting. Currently the Wordpress webmention extension uses a query string as its webmention endpoint: `http://example.com/?webmention=endpoint` so it's not a good idea to require senders strip query string parameters of the webmention endpoint.

[2015-12-08 19:30] tantek commented on #21
I just remembered that we did resolve on preferring follow-your-nose (i.e. link relations) back in the March f2f: https://www.w3.org/wiki/Socialwg/2015-03-18-minutes#resolution04

"RESOLVED the WG will prefer follow-your-nose architecture in the API candidates we consider "

And both fixed-path and host-meta style approaches (e.g. webmention) were considered at the time and rejected explicitly in

[2015-12-08 19:58] gobengo commented on #21
-1 for closing with no support. I think having this as last in the discovery chain is compatible with that resolution ('prefer follow your nose') and this is an important use case.

@aaronpk just sending the webmention there is tempting. But my experience with this use case is such that the delegation is really useful when the server cannot easily process/store/retry the webmention message and wan

[2015-12-08 19:59] gobengo commented on #20
I think I filed #22 as one way of solving this.

[2015-12-08 20:11] aaronpk commented on #20
#22 is a totally separate issue, I don't see how it relates to this.

[2015-12-08 20:20] aaronpk commented on #22
Closing this based on [today's call](https://www.w3.org/wiki/Socialwg/2015-12-08-minutes#Summary_of_Resolutions)

[2015-12-08 20:20] #22 closed

[2015-12-08 20:20] aaronpk commented on #17
Closing this as complete based on [today's call](https://www.w3.org/wiki/Socialwg/2015-12-08-minutes#Summary_of_Resolutions)

[2015-12-08 20:20] #17 closed

[2015-12-08 20:21] aaronpk commented on #13
Closing this as complete based on [today's call](https://www.w3.org/wiki/Socialwg/2015-12-08-minutes#Summary_of_Resolutions)

[2015-12-08 20:21] #13 closed

[2015-12-08 20:21] aaronpk commented on #12
Closing this as complete based on [today's call](https://www.w3.org/wiki/Socialwg/2015-12-08-minutes#Summary_of_Resolutions)

[2015-12-08 20:21] #12 closed

[2015-12-08 20:21] aaronpk commented on #5
Closing this as complete based on [today's call](https://www.w3.org/wiki/Socialwg/2015-12-08-minutes#Summary_of_Resolutions)

[2015-12-08 20:21] #5 closed

[2015-12-08 20:37] gobengo commented on #20
@aaronpk If the victim's robots.txt (or similar) said "Don't send things here", and the webmention sender was supposed to check that first, then the victim has a way of fighting this attack.

It's imperfect.

[2015-12-08 20:40] aaronpk commented on #20
Okay yeah. I still think robots.txt is not a sufficient solution to solving this, and that a better way of handling this issue is to document it as a security consideration.

[2015-12-14 18:11] aaronpk commented on #21
@gobengo that makes sense. It looks like host-meta is the "standard" way of doing something like this, since it's already used to advertise PubSubHubbub values. My hesitation around this is that the host-meta spec is primarily an XML format, but also supports a JSON format, and I don't want to require webmention senders deal with both of those cases. I would much rather provide exactly one way to

[2015-12-15 18:18] aaronpk commented on #7
This is done now, thanks!

[2015-12-15 18:18] #7 closed

[2015-12-17 19:49] kevinmarks opened #24 "Discuss handling of fragments in URLs"
As noted here: https://tinokremer.nl/2015/benwerd-i-figured-out-what-goes-wrong-with-webmentions-comments
Webmention handlers should strip fragments before checking if the URL is one they handle. Fragments can be used to direct the webmention to a subsection of the destination URL, and if they are fragmentions, a particular phrase.

[2015-12-17 19:57] aaronpk commented on #24
Is it worth noting explicitly that a webmention receiver shouldn't just naively use the full target URL to look up a matching post in its "database"? This isn't really a spec issue, it's more of an implementation detail.

Note that it's still required that if the target parameter includes a fragment, then that full URL including the fragment must appear at the source URL.

[2015-12-17 22:09] rhiaro opened #25 "Should be source syntax agnostic"
I thought the webmention spec was supposed to be agnostic of the markup used in the source. As such, a MUST on microformats2 parsing in 2.2.4 seems inappropriate.

Even though supporting updating mentions is MAY, this implies that if you are going to support it, you have to support mf2, which may deter people who are interested in other kinds of semantic markup, or indeed syntaxes other than html,

[2015-12-17 22:21] aaronpk commented on #25
The intent was to require supporting updates this way if you are going to be parsing mf2 webmentions. The nesting of the clauses should indicate that.

[2015-12-17 22:24] aaronpk commented on #25
If you read it closely, it says it "MUST support updating data from properties of the primary object of the source" (explicitly not requiring updates use mf2), it then goes on to say it "MAY support updating data from the h-entry", in which case it MUST follow the mf2 and h-entry specs.

http://webmention.net/draft/#updating-existing-webmentions

[2015-12-17 22:31] rhiaro commented on #25
Hm, I didn't read it that way, but I see what you mean. In the interests of shortening/simplifying core spec content, I feel like these specifics belong better in implementation details?

[2015-12-17 22:35] rhiaro commented on #25
Especially since they are MAY anyway

[2015-12-17 22:37] aaronpk commented on #25
I am glad they are tucked under the "Update" section, but it's more than just an implementation detail. The point is that if someone is going to support updates of h-entrys, then we want to ensure they have a clear path to follow so that everyone does it the same way. Especially for example, having a normative requirement on the Salmention extension for those implementations that do support update

[2015-12-17 23:01] rhiaro commented on #25
Isn't it redundant to say 'if an implementation supports [other spec] it MUST do it according to the [other spec]' ? I'd shorten to...

* If both the verification steps are successful, it should update any existing data it picked up from source for the existing webmention.
  * When a webmention implementation does support updating (AKA a "webmention update implementation"), it must support updatin

[2015-12-22 15:10] kousu opened #26 "Suggestion: simplifying notification"
Webmentions replaced XMLRPC with something RESTish, but they aren't fully RESTful because they still use indirection, by sending encoded sender=...&receiver=....

It would drastically cull the number of errors and be much more web happy if the protocol instead was:
1. Notification: sender GETs receiver, with X-Webmention: sender
2. Finding the mention: receiver GETs sender, parses microformats sea

[2015-12-22 15:21] kousu opened #27 "DDoS prevention"
It occurs to me that all your DDoS concerns that are creeping into the protocol are the same as email has been dealing with for years. In email, there are two main ways:

1. a trusted third party: SPF puts into DNS records that say "mail from domain example.com is allowed to be sent by [ip1, ip2, ip3, ...]"
2. signing: DKIM puts into DNS a public key, and a header is stuffed into email containing

[2015-12-22 15:32] kousu commented on #26
Incidentally, I think this obviates #20.

[2015-12-22 15:35] aaronpk commented on #26
This idea has come up before, but is ultimately a non-starter. http://indiewebcamp.com/Webmention-brainstorming#LINK_verb

The main problem is doing this would prevent Webmention from being deployed in many many circumstances. Not every hosting environment gives people the ability to see the headers or run code there. Static websites and websites on a CDN are the most obvious case. But also when y

[2015-12-22 15:52] aaronpk commented on #27
I think these are interesting suggestions for some ways to counter webmention spam. Right now we have one suggested anti-spam addition to the protocol, [Vouch](http://indiewebcamp.com/vouch). Rather than put it into the core spec initially, it's an extension, so that we can try out implementations of it to get a sense of how feasible it is. I would love to see either SPF or DKIM adapted to handle

[2015-12-22 16:28] kousu commented on #26
That's why I said middleware: if you're in WSGI you're right in the thick of that already. If you're on a plain site you can write an apache `mod_webmention`.

True, if you don't own the server you're stumped until if and when the CDNs and hosters decide they like these. What does a caching CDN do with POSTs? It must hit the backend server right? Would changing to a POST make notifications going t

[2015-12-22 16:52] sandhawke commented on #26
Using the referer header is called refback, https://en.wikipedia.org/wiki/Refback .   I've always really liked it.

Do we have a standard name for the requirement that rules this out?  "static sites"?    "legacy sites?"   This might be the largest bifurcation point within the WG.    It would be nice to point to it whenever this comes up.

[2015-12-22 17:07] aaronpk commented on #26
@sandhawke we really do need to give this requirement a name since it keeps coming up. It's not just "static sites" in the sense of cheap hosting and using hip new static site generators, and not just legacy sites. Anything deployed on a CDN is essentially a static site, since the backend code is only run infrequently. There are also cases in larger companies where the person/team responsible for

[2015-12-22 17:14] aaronpk commented on #26
@kousu Sadly using the Referer header is not going to work, since it's already known to be full of spam. I encourage you to try prototyping this on your site to start collecting Referer headers and you'll quickly see what I mean.

There are also already a number of people using webmention on static sites. There are two ways to do it, either have a Javascript snippet load the comments client-side,

[2015-12-22 17:28] aaronpk commented on #27
I just double checked, and the spec actually doesn't mention anything about DDoS attacks at all. The spec is specifically pointing out preventing DoS attacks against the endpoint itself.

For example, "Upon receipt of a POST request containing the source and target parameters, the receiver should queue and process the request asynchronously to prevent DoS attacks." is there so that a webmention en

[2015-12-23 03:05] kousu commented on #26
Well thanks for the explanation. That's too bad that refback won't work for that use case.  It would really well work for my use case (so long as I had working spam measures) because I can implement without needing the rest of the web to cooperate too much ("principles not protocols", right?). I'm definitely on the far side of that bifurcation.

I'll close this for now. Maybe reopen it if you want

[2015-12-23 03:05] #26 closed

[2015-12-23 03:20] kousu commented on #27
You're right. I read the spec as "DDoS". I often conflate DDoS and DoS, because if you can't handle DoS then you definitely can't handle DDoS, and if you can handle DDoS then you might be able to handle DoS. :whale:

I am not ready to write a spec on this. I just noticed that there was prior work that was available for exploitation and I wanted it recorded. I'm a n00b at SPF and DKIM, and I am not

[2015-12-23 04:30] aaronpk commented on #26
Cool. There's definitely something interesting to be done with analyzing all the Referer links you receive, I'm just not sure it's part of the Webmention spec. fwiw I'm also logging incoming Referers (as is everyone who runs web analytics software like Google Analytics and Webalyzer).

[2016-01-13 17:57] dret opened #29 "Register "webmention" with IANA"
seeing that http://www.iana.org/assignments/link-relations/link-relations.xhtml currently does not list "webmention" as a registered link relation type, i am proposing to add a section to the draft that registers "webmention" in the IANA registry according to RFC 5988. i'd be more than happy to contribute such a section. this should make it easier for people discovering "webmention" links on the w

[2016-01-13 18:33] kevinmarks commented on #29
The iana registry is being overhauled through rfc5988bis at the moment, so
awaiting the outcome of that process makes more sense.
On 13 Jan 2016 12:57 p.m., "Erik Wilde" <notifications@github.com> wrote:

[2016-01-13 18:51] dret commented on #29
On 2016-01-13 10:33, Kevin Marks wrote:

what's the cost of adding to the existing registry (apart form adding a
small appendix to the draft that i am volunteering to contribute)? it's
unlikely that RFC 5988 will be replaced very soon. registering with the
current registry and then adjusting when a new registry/process is in
place may be the best way to make sure that things are in sync.

[2016-01-13 18:54] aaronpk commented on #29
I don't have an issue if you want to add it to the registry. I don't know anything about the process so I wouldn't be much help, but if you submit a PR and manage the communications with iana that's fine with me.

[2016-01-13 18:59] dret commented on #29
On 2016-01-13 10:54, Aaron Parecki wrote:

ok, thanks. it's a very simple process. basically, it's an appendix
requesting registration, and then an email to the review list, which
usually results in "looks good to us". after that, it will be added to
the registry, linking to the spec as a reference.

here is one example for such an appendix:
https://tools.ietf.org/html/rfc6892#section-4

i'll crea

[2016-01-13 21:37] dret commented on #29
first stab at https://github.com/aaronpk/webmention/pull/30; comments/feedback very welcome.

[2016-02-29 04:20] aaronpk commented on #20
Upon re-reviewing this, I'm not even sure it deserves to have a mention in the security considerations section. Reviewing the list of assumptions necessary for this attack to even take place, it seems like a rather large set of requirements before this is a problem. It's also more a vulnerability of unrelated systems, since the mitigation techniques described are all things that have to be done on

[2016-02-29 04:22] aaronpk commented on #27
Closing this particular issue for previously stated reasons, but would be happy to see more DDoS-prevention techniques proposed as extensions.

[2016-02-29 04:22] #27 closed

[2016-02-29 04:25] aaronpk commented on #11
Closing this issue due to lack of clear issue/suggestion and no further interest in the past 3 months. Please open a new issue with a specific topic or suggestion if you would like to discuss further.

[2016-02-29 04:25] #11 closed

[2016-02-29 04:27] aaronpk commented on #24
This has been incorporated into the latest draft.

[2016-02-29 04:27] #24 closed

[2016-02-29 06:00] aaronpk commented on #25
I've removed the bullet points that seem redundant.

[2016-02-29 06:00] #25 closed

[2016-02-29 06:02] aaronpk commented on #29
Thanks for this. It's incorporated into the latest Editor's Draft and will be published when the next Working Draft is published.

[2016-02-29 08:23] dret commented on #29
On 2016-02-29 7:02 , Aaron Parecki wrote:

sounds good. i will send a request to the IETF list when the draft has
been published, and then it should be relatively easy to have it
approved by the expert and added to the IANA registry.

[2016-03-02 07:43] dret commented on #29
hello link-relations.

https://www.w3.org/TR/2016/WD-webmention-20160301/#iana-considerations
defines a new link relation type that should be added to the IANA link
relation registry. here is an excerpt with the link relation type
description:

-------------------------------------

Relation Name: webmention

Description: Identifies a target URI that supports the Webmention
protocol. This allows c

[2016-03-02 07:44] dret commented on #29
just sent the note to link relations email list, please see the previous comment.

[2016-03-12 16:47] aaronpk commented on #9
@jasnell what was the mechanism/language you used to use a default namespace (base URI) for property names in Activity Streams? I'd like to add a similar paragraph to Webmention to resolve this issue.

[2016-03-16 09:00] ePirat commented on #20
I agree to this but still think there should be some sort of verification in place to prevent servers to send POST requests to an arbitrary server the attacker specifies.

One of the solutions you proposed

will not work, I think, as it would prevent webmention services to work (which are not located on the same domain in most cases).
I think your proposal for a verification step would be a good s

[2016-03-17 01:34] aaronpk opened #32 "Add conformance requirements section"

[2016-03-17 20:06] aaronpk commented on #9
Will add this to the appendix:

[code]

[2016-03-17 22:49] sandhawke commented on #9
Minor correction: http://www.w3.org/ns/webmention#

[2016-03-18 02:40] aaronpk commented on #9
oops thanks!

[2016-03-19 01:44] aaronpk commented on #20
@sandhawke I haven't been able to find any docs on how HTML5 handles this. Do you happen to know if I'm just not looking in the right place? I was expecting to find something in the [embedded content](https://www.w3.org/TR/html5/embedded-content-0.html). There's an MDN article on [same-origin policy](https://developer.mozilla.org/en-US/docs/Web/Security/Same-origin_policy) but it also doesn't real

[2016-03-19 03:31] cwebber commented on #20
To reiterate what I said at the F2F my main worry is about localhost.  I think even GET requests to localhost could be potentially dangerous given how many processes assume that localhost-only access is a fairly lax-security option.  I think the F2F discussed option of mentioning that localhost access must not be permitted would easily solve this though.

[2016-03-19 03:33] aaronpk commented on #20
@cwebber yeah I already added a section about localhost. (I don't think I pushed it to github yet tho)

[2016-03-19 14:40] aaronpk commented on #9
Added! http://webmention.net/draft/#uris-for-form-encoded-properties

[2016-03-19 14:40] #9 closed

[2016-03-19 14:40] aaronpk commented on #32
http://webmention.net/draft/#conformance

[2016-03-19 14:40] #32 closed

[2016-03-19 14:49] aaronpk commented on #21
Whole-domain delegation can be achieved by adding an HTTP Link header at the server level. This allows an organization to configure their web server to delegate the whole domain regardless of how many apps are running in subfolders. The assumption is that if you have write access to create a new folder at the root of the domain, you are probably in a position to add the Link header as well.

A pre

[2016-03-19 14:49] #21 closed

[2016-03-19 17:02] aaronpk commented on #9
@melvincarvalho We discussed this issue during the March F2F meeting. I've updated the spec to address the issue, giving guidance on how to turn the parameters into URIs. Please take a look at the [revised text here](http://webmention.net/draft/#uris-for-form-encoded-properties) and comment here whether this is acceptable. If not, you may reopen the issue and provide more information about what ch

[2016-03-19 17:07] aaronpk commented on #8
Webmention is in the HTML rel registry on microformats.org, and is now also pending IANA registration via #30. @kevinmarks can I mark this issue as "commenter satisfied"?

[2016-03-19 17:10] kevinmarks commented on #8
Yes, I thought this was closed when the IANA issue was opened.

[2016-03-19 17:49] aaronpk commented on #14
As [you mentioned earlier](https://github.com/aaronpk/webmention/issues/10#issuecomment-159994226), it seems undesirable to rule out the possibility of making authenticated Webmention requests from the outset. Current implementations do not rely on the Webmention POST being authenticated in any way; all verification is done after the fact. However, I can imagine a future where it may become desira

[2016-03-19 17:54] aaronpk commented on #16
@kevinmarks please comment here if you are satisfied or unsatisfied with the result of this discussion

[2016-03-19 17:54] aaronpk commented on #15
@bblfish please comment here if you are satisfied or unsatisfied with the result of this discussion

[2016-03-19 17:55] aaronpk commented on #13
Marking as commenter satisfied based on his +1 in the minutes https://www.w3.org/wiki/Socialwg/2015-12-08-minutes

[2016-03-19 17:57] aaronpk commented on #7
@azaroth42 Please let me know here if this addresses your issue. The specific sections you are talking about have been marked as "non-normative," e.g. https://www.w3.org/TR/webmention/#extensions

[2016-03-19 17:58] aaronpk commented on #5
@azaroth42 I didn't see your +1 in the minutes of this call, so just wanted to make sure your issue is addressed. Please comment here, thanks!

[2016-03-19 17:59] kevinmarks commented on #16
I'm satisfied that we're keeping target as required.

[2016-03-19 18:05] aaronpk commented on #17
This has been incorporated into the spec, and the group approved the change in December. @csarven I hope this addresses your concerns, but if not, feel free to reopen the issue with clarifying information.

[2016-03-19 18:08] aaronpk commented on #23
@rhiaro can you review the updated explicit text and let me know if that addresses your concern? http://webmention.net/draft/#receiving-webmentions

[2016-03-19 18:11] aaronpk commented on #24
@kevinmarks please let me know if the current text addresses your issue: http://webmention.net/draft/#request-verification

[2016-03-19 18:11] aaronpk commented on #25
@rhiaro Please review the updated text and let me know if that addresses your concerns: http://webmention.net/draft/#updating-existing-webmentions

[2016-03-22 08:21] dret commented on #29
hello link-relations.

a while ago this was sent to link-relations for expert review and
feedback. is there anything missing that would help to move this forward?

thanks and cheers,

dret.

On 2016-03-02 08:43, Erik Wilde wrote:

--
erik wilde | mailto:erik.wilde@dret.net |
            | http://dret.net/netdret    |
            | http://twitter.com/dret    |

[2016-03-26 08:15] dret commented on #29
looks like the request was approved (thanks @mnot) and the link relation will be added soon:

https://mailarchive.ietf.org/arch/msg/link-relations/S3IjEecszpSShGKkEmsTAV0hGHk

[2016-03-29 01:32] aaronpk commented on #20
From what I can tell, HTML does not list any security considerations for loading external resources. The spec even says that a user agent MUST load external resources specified in a `<link>` tag. https://www.w3.org/TR/2008/WD-html5-20080610/single-page/#href1

I would like to propose closing this issue given that the main concern about potentially accessing localhost resources has been addressed.

[2016-03-29 01:35] ePirat commented on #20
Well, while I agree that HTML loads external resources, this is just about GET requests. A browser will never load external resources with a POST request, as POST in most cases causes some action to happen and data to change and therefore allows for far more abuse than GET requests do.

[2016-04-08 15:01] melvincarvalho commented on #9
@aaronpk thanks, that looks like an improvement, and it would help resolve interop issues.

First comment is that ( http://www.w3.org/ns/webmention# ) gives a 404 right now.

What's the consensus regarding reusing the pingback ontology, as I think it already contains all the terms used in webmention?

I think @csarven has done some work here on the solid notifications spec and implementation, and

[2016-04-08 15:25] jasnell commented on #9
@aaronpk ... my apologies, I just saw the mention on this and the question about the default namespace.  I'm not 100% certain what you're asking for tho. Can you clarify?

[2016-04-08 16:02] aaronpk commented on #9
@jasnell thanks, we discussed during the f2f and came up with the language I added to the appendix.

@melvincarvalho I can't find a reference to namespace used for the Pingback terms. Can you point me to it?

@sandhawke Is there something we need to put at http://www.w3.org/ns/webmention for this? How would we go about that?

[2016-04-08 16:07] rhiaro commented on #9
@aaronpk @sandhawke I'm happy to take charge of putting the LD-friendly representation of terms up at www.w3.org/ns/webmention

@melvincarvalho SP has `source` and `target` but also a bunch of other constraints that might not apply to webmention. For people interested in the LD side of this we should probably have a separate discussion sometime. We can always include equivalence to related terms i

[2016-04-13 11:06] aaronpk commented on #14
We discussed this on the [March 16 telcon](https://www.w3.org/wiki/Socialwg/2016-03-29-minutes), and came to the conclusion to add a note to the spec to the effect of "this spec does not define special handling of a webmention that contains additional headers, so use standard XSS prevention techniques." This has been added to the latest Editor's draft.

http://webmention.net/draft/#cross-site-requ

[2016-04-13 11:06] #14 closed

[2016-04-13 11:43] aaronpk commented on #20
We discussed this during the [March 16 telcon](https://www.w3.org/wiki/Socialwg/2016-03-29-minutes). The conclusion we came to was that it's essentially the same thing as allowing a browser to post a form cross-domain.

The question then remains is this more similar to posting a form from Javascript, or posting a form from HTML. If the former, then we should use the same security mechanism used by

[2016-04-13 12:41] voxpelli commented on #20
Talked a bit about this on IRC and the term `SSRF` came up so just adding it here for reference: https://cwe.mitre.org/data/definitions/918.html

My view is that apart from maybe suggesting filtering out exotic port-numbers and protocols (as mentioned in the above link and as implemented by eg. WordPress [wp_http_validate_url()](https://developer.wordpress.org/reference/functions/wp_http_validate_

[2016-04-13 13:12] aaronpk commented on #20
Hm, I'm not a fan of disallowing port numbers in the webmention endpoint, but I could see adding language that requires the endpoint be either http or https scheme only.

Re: 1. in your suggestion, I think you meant running the _server_ in an environment with no access to internal resources.

I like that idea, it puts the onus on the person installing the software to be aware of the environment th

[2016-04-13 16:38] tantek commented on #20
The proposed language to add as a new security consideration "Limit access to protected resources" makes sense to me and provides a good heads-up to such firewall situations that such users should be aware of in general (beyond Webmention).

+1 to adding "Limit access to protected resources" section and as sufficient to resolve and close this issue.

[2016-04-15 10:48] #20 closed

[2016-04-15 10:53] aaronpk commented on #20
I've added in the proposed language, which addresses the issue as last discussed on the conference call [on 2016-03-29](https://www.w3.org/wiki/Socialwg/2016-03-29-minutes). If you feel like this does not fully address the issue, feel free to comment below.

[2016-04-19 17:57] aaronpk opened #35 "Develop exit criteria for CR"

[2016-04-19 22:55] dret commented on #29
just got the note that registration is complete and indeed, it shows up in the registry:

http://www.iana.org/assignments/link-relations/link-relations.xhtml

[2016-04-19 23:03] aaronpk commented on #29
Awesome, thanks for taking care of this!

[2016-04-19 23:03] #29 closed

[2016-04-29 03:13] aaronpk commented on #35
Exit criteria are documented in http://webmention.net/draft/#candidate-recommendation-exit-criteria

[2016-04-29 03:13] #35 closed

[2016-05-13 18:09] sandhawke opened #37 "Remove Salmentions?"
Aaron and I noticed a problem with the normative references.   There's a W3C process rule that specs aren't allowed to normatively refer to unstable technologies, because then conformance could change after-the-fact.

But aside from the process issue, which we could address other ways, I think the Salmention clause in Webmention isn't a good idea.   The spec says:

First off, I find that text very

[2016-05-13 19:15] dissolve commented on #37
Hmm, quite understandable how this got confusing.  Originally update webmentions were only sent when authoritative data was updated, not when references were updated by webmention.  This is what led to salmention being an extension.

The text you pointed to just says "if the source URL was updated" which does not say anything about which data was updated or if it was updated by receiving webmentio

[2016-05-13 20:24] sandhawke commented on #37
Fwiw, "primary object" isn't defined either.   I think it's importantl to imagine people using webmention without microformats, or any kind of semantic markup.   That kind of thing had to either be required by the spec or kept cleanly out of the spec.    It seems like it's creeping in with this kind of language.

[2016-05-13 20:25] sandhawke commented on #37
Also, we can't refer to salmention, since it's not stable.   Do whatever you need webmention implementors to do, you have to explain it here.

[2016-05-14 14:11] sandhawke commented on #37
Someone asked me privately about this W3C Policy on normative references.   Full details at https://www.w3.org/2013/09/normative-references ( linked from https://www.w3.org/Guide/ )

[2016-05-14 21:35] dissolve commented on #37
I totally agree and thats what i noticed about it too, it doesn't fit.

I think there are several options here but the simplest would probably be to say simply that salmention implementation MUST resend webmentions when an update is done for any reason (including those caused by receiving a webmention)

[2016-05-15 00:14] sandhawke commented on #37
That MUST would be in the salmention spec, right?   And webmention could take out the normative text about salmention.   That sounds reasonable to me

[2016-05-18 15:38] aaronpk commented on #37
This has been fixed in the latest version. The section on sending webmentions now explicitly says that if a comment is shown on the page, that should be treated as an update of the page. For receiving, it now says implementations may wish to support salmention.

[2016-05-18 15:38] #37 closed

[2016-05-24 05:59] melvincarvalho opened #38 "No document at http://www.w3.org/ns/webmention"
There is no document at :

http://www.w3.org/ns/webmention#

Describing the key terms used in webmention

Is there something intended to be there, or a pointer to draft text.  That would make it easier to review.

[2016-05-24 06:05] melvincarvalho opened #39 "No JSON based social syntax"
The WG [charter](https://www.w3.org/2013/socialweb/social-wg-charter) states:

Yet I was unable to locate any JSON based examples in the text (tho perhaps I missed something)

Could this be made available for review?

[2016-05-24 06:14] melvincarvalho opened #40 "Sending webmentions - discovery - lacks interoperability"
Two methods of discovery are listed in section 3.1.1

Namely

* Link Header (MUST)
* HTML <link> or <a> tag

Not all implementations on the social web are based on HTML.  Other serializations need to be handled in order to achieve interoperability with existing standards.

Suggestions

* Move the link header to a MAY
* Drop mention of HTML to an example, but reword the text to say that the seriali

[2016-05-24 06:23] melvincarvalho opened #41 "Client is not defined"
In section 3.1.1

However, "Client" was not defined.

I found this sentence slightly confusing.  What is actually meant by client?

[2016-05-24 06:33] akuckartz commented on #39
JSON-LD please.

[2016-05-24 06:40] kevinmarks commented on #40
This makes the spec vaguer and less useful. I've implemented webmention for
SVG and PNG using link headers. While I could add an a href to an SVG, I
can't see how to do that for PNG. I don't want to rewrite the svg in this
case, that would be more difficult than a link header.
On 23 May 2016 11:14 pm, "Melvin Carvalho" <notifications@github.com> wrote:

[2016-05-24 06:48] melvincarvalho commented on #40
This WG isnt chartered to use SVG or PNG as a data interchange format.  Nor should that be in scope!

PNG for example should be used as an image.  In the context of the social web it would be much better to embed this image in a post, especially if you want it to have semantics such as tagged People.  Facebook do this quite successfully, for example.

[2016-05-24 07:03] voxpelli commented on #40
To me it makes sense to align the discovery part with that of Pubsubhubbub: http://pubsubhubbub.github.io/PubSubHubbub/pubsubhubbub-core-0.4.html#rfc.section.4 I'm not sure how compliant that is with any charter, but as an implementer of both WebMention and Pubsubhubbub and with consideration for the work done in adapting Pubsubhubbub to support multiple formats, I think it would be a good idea to

[2016-05-24 11:28] sandhawke commented on #38
What do you mean?   Sure there is.

(Just kidding.   I just moved it into place now.)

Feedback at https://github.com/rhiaro/wm-ns/issues

If someone wants to write a JSON-LD context, that could be nice.

[2016-05-24 12:33] melvincarvalho commented on #38
Thanks!

Is this also machine readable?

[2016-05-24 13:39] sandhawke commented on #39
Hmm.    This is going to require some discussion.

Charter issues aside, can you provide a use case where json (or json-ld) would be overwhelmingly better than form encoding?   I say "overwhelmingly", because  I think it's clear from current adoption that form encoding works well for this, and also that having only one mandated syntax works well.

[2016-05-24 15:21] rhiaro commented on #38
JSON-LD and turtle versions are done now, should be up this afternoon. PRs or issues welcome at https://github.com/rhiaro/wm-ns/ if I messed anything up

[2016-05-24 16:00] aaronpk commented on #39
The Webmention spec itself does not claim to implement the "social syntax" part of the charter. Webmention can be used with JSON documents, as is described in [3.2.2 Verification](https://www.w3.org/TR/webmention/#webmention-verification). Additionally, there has already been an implementation using Webmention with JSON-LD, which is thoroughly documented at http://lombardpress.org/2016/04/16/iiif-

[2016-05-24 16:02] aaronpk commented on #41
Thanks, that should actually say "Sender" since the sender role was defined earlier in the document.

[2016-05-24 16:20] melvincarvalho commented on #39
It's kind of hard to leave the charter aside.  Because I think that it was hard to come to consensus on anything in the group, but the one thing we did come to consensus on was that we'd like to be using JSON to be passing things around.

So the main motivation for this is interoperability.  The social web benefits from more participants to grow the network effect.  I think this is especially true

[2016-05-24 16:24] aaronpk commented on #39
What I mean is that Webmention does not (and should not) define the social syntax. That's why we have Activity Streams 2.0 for example. We've already seen that Webmention can be used by JSON-based systems (JSON-LD even), so I don't see the problem here. If more implementations start using Webmention with JSON documents, then it may warrant adding some explicit examples to the spec.

[2016-05-24 16:27] aaronpk commented on #39
There was some previous discussion within the group about using JSON for the actual Webmention payload itself, but we ended up resolving not to go down that path: https://github.com/aaronpk/webmention/issues/4

[2016-05-24 16:28] #41 closed

[2016-05-24 16:30] kevinmarks commented on #40
This is a misunderstanding of who is being mandated here. A Sender MUST check for Link headers first, then look in the document. There is no obligation on the Receiver to add Link headers - that si why a fallback exists.

Link headers mean other serializations are intrinsically supported, as the Sender has no requirement to parse the serialization. - hence my discussion of SVG and PNG. This is not

[2016-05-24 16:40] kevinmarks commented on #39
The charter also says "Each of these technologies should not be tightly-coupled but can allow general purpose use." Melvin is proposing tight coupling here.

[2016-05-24 17:00] akuckartz commented on #38
:smile:

[2016-05-24 17:11] sandhawke commented on #39
@melvincarvalho I'm not asking you to forget about the charter, I'm asking you to keep the two issues separate.   Would it help to give them different issue numbers?

On the non-charter issue, you start to make a case, but I don't personally find it compelling, and I'm a huge fan of JSON and/or RDF.   I don't see where there's a big payoff in Webmention using JSON as its payload.   Solid, for exam

[2016-05-24 17:59] sandhawke commented on #38
[code]

and

[code]

[2016-05-24 18:24] aaronpk commented on #38
Great! Can I close this issue then?

[2016-05-24 20:59] sandhawke commented on #38
Yeah, pretty clearly we did exactly what the commenter wanted.    I trust @melvincarvalho will correct me if I'm wrong....

[2016-05-24 21:24] #38 closed

[2016-05-24 22:41] melvincarvalho commented on #39
@sandhawke being not a big fan of RDF, JSON ([or even of solid](https://www.w3.org/2015/06/23-social-irc)) makes it slightly challenging for me to feel encouraged that we can have an unbiased and productive conversation, but we can give it a try!

Re: splitting the issue into 2, we could do that, if you feel it's a good idea.  I'll try and keep the points separate then.

In terms of the charter, t

[2016-05-24 23:15] melvincarvalho commented on #39
Let me perhaps ask a slightly different way.  Is there already an example of a W3C REC where form encoded variables are passed around?  I would find it instructive to review, if so.

[2016-05-24 23:19] sandhawke commented on #39
I'm not sure how you read, "I'm a huge fan of JSON and/or RDF" and concluded I wasn't one.

Also, that's not how bias works.

[2016-05-24 23:27] sandhawke commented on #39
I have no idea what W3C REC use form-encoding aside from HTML.   I think HTML is enough.

That's not how interpreting charters works.    If you left interpretation of the charter to the group, then the group could re-interpret its charter at will.

Well, back before Webmention went to CR, when it could have potentially been changed, the solid folks discussed it and decided they weren't interested

[2016-05-25 00:20] melvincarvalho commented on #39
@sandhawke Im really sorry for my misreading of this.  It's late here and I've been multi tasking.  Total apologies.  I guess we've had one on one conversations about RDF in the past, and that put the idea in my head.  Not an excuse, sorry anyway.  I hope my following comments, could be taken at face value.

[2016-05-25 00:44] melvincarvalho commented on #39
Nice idea.  But I wonder if this would actually work?  Because JSON-LD distinguishes between literals and URIs eg using JSON objects.  Is the same possible with form encoded URIs.

At this point I feel that using an existing REC such as JSON-LD, Turtle, RDF/XML etc. is a superior choice.  I dont think Solid (and other implementations) should forced to change to support form encoded variables, in o

[2016-05-25 00:46] melvincarvalho commented on #39
FWIW I did raise this a couple of times I think on the mailing list in July of last year.

[2016-05-25 00:53] sandhawke commented on #39
Form encoding is clearly a standard.     It's not as flexible as JSON, but Webmention doesn't need that flexibility.

One can't just *add* JSON to Webmention without making dozens of implementors change their code if they want to stay in compliance.    And you haven't actually said anything that would be easier for anyone if they did.

[2016-05-25 06:40] melvincarvalho commented on #39
So Im saying to make those small changes, which in the vast majority of cases affect only one user, to resuse an existing W3C REC, rather than create a new system.

I think we're possibly going round in circles when I say webmention is breaking interop with standards compliance systems (eg solid), and you saying that standards compliant systems dont want to be interop.

If form encoded variables a

[2016-05-25 07:06] kevinmarks commented on #39
On 24 May 2016 11:40 pm, "Melvin Carvalho" <notifications@github.com> wrote:

well, it started in 1993 in HTML+:

https://www.w3.org/MarkUp/HTMLPlus/htmlplus_42.html

It was in HTML3

https://www.w3.org/MarkUp/html3/forms.html

HTML4

https://www.w3.org/TR/html4/interact/forms.html

and HTML5

 https://www.w3.org/TR/html5/forms.html

It's been the dominant form of client server communication for a

[2016-05-25 07:40] melvincarvalho commented on #39
@kevinmarks It's best to avoid words like 'pretend' when talking about other
people's actions and intentions. Good typically doesn't come of it...

[2016-05-25 07:49] kevinmarks commented on #39
I'm using "pretend" in the sense of "make a claim". Are you using
"standards" in the sense of "flags that are personal emblems to identify
participants in a battle"?
On 25 May 2016 12:40 am, "Melvin Carvalho" <notifications@github.com> wrote:

[2016-05-25 12:08] sandhawke commented on #39
@melvincarvalho , your argument that somehow form-encoding isn't "standard" or Webmention isn't "standards compliant" really feels quite absurd to me.

If you want to move forward with this, I think your best path is to make a specific proposal for the "small change" you have in mind, maybe as a fork of the Webmention CR draft, with the changes clearly highlighted.  Then write what you believe to

[2016-05-25 17:19] hvdsomp opened #42 "Webmention verification"
The requirement to do an HTTP GET on the source and to verify whether it indeed references the target excludes important use cases, for example in web-based scholarly communication. I will explain by means of a very hot topic: linking publications with datasets. Other cases exist.

For publication/dataset linking, the publication (source) would use Webmention to inform the dataset (target) that it

[2016-05-25 17:34] kevinmarks commented on #42
Extending this to PDF is challenging, yes. Many publications of this nature do have HTML version too, though they are still under access control. For example http://onlinelibrary.wiley.com/doi/10.1002/asi.21571/abstract (which I found by searching google scholar for webmention) has HTML versions with controlled access.

If you are part of an institution that has gateway access to these kinds of pu

[2016-05-25 17:43] hvdsomp commented on #42
My comment was about (scholarly) publisher-to-publisher use of Webmention. An institutional subscription has nothing to do with the problem I describe. This is not about a user having access to a paper or not. This is about the receiving publisher not having access to sender publisher content. The PDF issue is kind of secondary in the problem I describe. The core issue is the paywall.

[2016-05-25 17:45] dissolve commented on #42
The requirement for an HTTP GET would just mean that the publisher of the webmention would need to have some page which is not behind a paywall that could simply list the datasets it references. A simple abstract or bibliography page could easily be made available in html without the PDF content.  If memory serves correctly, many already do that.

[2016-05-25 17:47] tantek commented on #42
@hvdsomp "core issue is the paywall" - this is an astute observation, and not unique to webmention. Paywalls break all sorts of Web Architecture. Hyperlinks, img src, script src, style sheets, iframes, pretty much all web hypertext / hypermedia. I suggest you consider raising this as an issue with the W3C TAG (@w3ctag), something like "Paywalls break web architecture, what is to be done about this

[2016-05-25 17:58] hvdsomp commented on #42
Hey tantek, that's one big can of worms you suggest I open ;-) The thing is, I have been an Open Access advocate from the early days of the movement. So, I don't want paywalls in scholarly communication. And I definitely don't want to spend time in that wormhole. But paywalls are a fact of life and I would love to work towards establishing increased web-centric interoperability for scholarly commu

[2016-05-25 17:59] rhiaro commented on #42
I actually +1 this general idea, but having the 'trust relationship' out of band is kind of awkward. Or maybe not? As *how* to do verification is out of scope of the webmention spec, and actually up to the receiver, you *could* choose to "do verification" by consulting an internal list of domains you trust.

Further, if this wouldn't work, ActivityPub's method of doing notifications using the Acti

[2016-05-25 18:00] sknebel commented on #42
The paywalls I regularly deal with "only" hide the main content but expose things like citation lists -> as long as those are properly linked Webmentions between the paywall pages via the doi-links could work.

Also, paywall-pages are a similar issue to silo pages like Twitter in that they hide content and don't include nice markup. For those there are services like https://brid.gy/ that provide n

[2016-05-25 18:04] aaronpk commented on #42
That's incorrect. The spec describes specifically how to verify the link for HTML and JSON documents here: https://www.w3.org/TR/webmention/#webmention-verification

I think @dissolve's suggestion is on the right track. If the publishers show the list of other articles they mention on the "landing page", then normal webmention verification will work.

[2016-05-25 18:07] hvdsomp commented on #42
Hi sknebel, yes, some paywalls provide eg reference lists for free, others don't, yet others don't even provide a metadata record describing the content itself without providing credentials. Lots of variations on the theme.

As suggested by dissolve and you, I agree that things could be done to make webmention work even for paywalled environments but that would require extra effort beyond just the

[2016-05-25 18:08] rhiaro commented on #42
@aaronpk Sorry, I guess I was thinking about verification beyond string-matching (deciding whether it's a *type* of mention you're interested in) that's out of scope, but you're right the string matching is actually that matters in this case.

[2016-05-25 18:22] dissolve commented on #42
I could see sending some sort of auth token along with webmention being an extension to webmention.  But the fact that webmentions can normally be sent by anyone means it has to be an auth token, not just 'trusting' / whitelisting some other location.

Yes it would require some extra work, but not much. Especially since, in your case there is already a landing page which is not actually the PDF.

[2016-05-25 18:26] aaronpk commented on #42
Yeah you'd have to do this as an authenticated request, since any server can post a source and target to you. You can't simply write a rule that trusts a source domain, since any sender could send webmentions with that source domain. I also doubt you want to set up your system to "trust" webmentions sent from a specific IP address.

We actually already added a little note hinting at the potential

[2016-05-25 18:38] kevinmarks commented on #42
Bridgy really is the best analogy here. You could construct an equivalent
service that has authorization to see the papers, and makes proxy public
Webpages that marks them up with citation links. OpenLibrary, Google
scholar could make these. Then you are deciding to trust that service's
mapping, not the webmention sender.

On Wed, 25 May 2016, 11:27 Aaron Parecki, <notifications@github.com> wrote:

[2016-05-26 01:18] melvincarvalho commented on #39
Im not quite sure I know how to respond to this.  Let me ask first off, do you believe, in creating standards we should use URIs to name things?

[2016-05-26 01:25] melvincarvalho commented on #39
I think, in general, I am perhaps misunderstanding the difference between REC and Note, and I would be very happy to understand that better, or be pointed to something that can explain it better.  Im really quite happy for the webmenion ecosytem to be a note, but my, perhaps naive, understand of REC implies "this is how we should solve this kind of problem", which I am slightly more cautious about

[2016-05-26 01:37] sandhawke commented on #42
First off, I think the specific proposal ("if the receiver has a trust relationship with the sender, verification is optional") is okay.   I also think it's redundant.   Specifications exist in lieu of special agreements between parties.    If two parties agree, they are always free to vary a protocol in the privacy of their own data streams.  That's just how standards work.   It's similar to how

[2016-05-26 03:30] sandhawke commented on #39
I believe using URIs to name things can be a useful tool in the effort to achieve decentralized extensibility.   The last 15+ years of experience with xmlns and xhtml and rdf has convinced me the practice is a mixed blessing and should be used with care.   In the current design of webmention, I don't see URIs for property names as justified.

It would be nice if webmention were more extensible, bu

[2016-05-26 03:37] sandhawke commented on #39
The difference is that with a Recommendation, a critical mass of the member organizations thought it was worthwhile, a Working Group thought it was work making a Recommendation, and the various Rec Track steps (like demonstrating interoperability) were followed.   That's commonly understood, I think, as meaning that Recommendations are more carefully thought out and more people are interested in t

[2016-05-26 09:05] melvincarvalho commented on #39
@sandhawke thanks for explaining, that is very helpful!

So it seems to me that webmention can be solved in one of two ways.  One is by reusing existing W3C RECs such as JSON-LD, and the other is a bespoke method using form encoded variables, as is currently documented in the spec, and has a small implementation base, with a relatively large representation in this WG, that's not a criticism (all g

[2016-05-26 09:57] sandhawke commented on #39
That's my option 2.    It makes implementating each receiver harder, because now it has to understand two syntaxes.    And what's the real benefit?  Can you express that benefit in some way all the current implementors will find compelling?    What can you say to them that will make them want to go back to their code and add json support?   And I your explanation don't make an appeal to authority,

[2016-05-26 14:27] melvincarvalho commented on #39
I think we're not really communicating.  Im trying to express the benefit of interop leading to growth in the network effect, and you dont find it compelling.  I guess about all I can say is that I respect your opinion, but mine differs.

[2016-05-26 14:52] rhiaro commented on #39
FWIW I wrote up a draft spec to bridge between webmention and LDP implementations.

https://github.com/rhiaro/wm-ldp/blob/master/index.md

The first half is what to do if you have a webmention implementation and want to talk to plain LDP servers. The second half (more relevant for you @melvincarvalho) is what to do if you have an LDP server or a Solid application and want to receive from / send to

[2016-05-26 14:58] akuckartz commented on #39
@melvincarvalho If I understand the comments here correctly then people seem to be missing an explanation _how_ the proposed change would "lead to growth in the network effect". I think that this is a legitimate question.

[2016-05-26 15:00] hvdsomp commented on #42
Thanks for the feedback, sandhawke.

Regarding (1), things are a bit more complex:
* We are not really talking about direct publisher-to-publisher trust. There's just too many academic publishers (many hundreds) and I am pretty sure many don't trust one another ;-) I think that, in this scenario, trust could be derived from the parties involved using DOIs and the ability to lookup metadata about t

[2016-05-26 15:09] dissolve commented on #42
I was thinking more about this last night.  What I would point out is that, there is not requirement that the HTTP GET request on source cannot have an auth token or other such data.  Indeed this will be needed when doing any sort of private webmentions.

Perhaps a note in the text specifically calling out that the specifics of that GET are not defined in the webmention spec and may include additi

[2016-05-26 15:40] rhiaro opened #43 "Definition of 'link'"
Abstract:

Intro:

'link' is debatable given that a plain text file with a URL in it is a valid webmention source. Something like:

"Webmention is a simple way to notify any URL that it appears on your site. From the receiver's perspective, it's a way to request notifications when others sites refer to it."

"At a basic level, a Webmention is a notification that one URL appears at another."

[2016-05-26 16:31] kevinmarks commented on #43
On 26 May 2016 8:40 am, "Amy Guy" <notifications@github.com> wrote:

site. From the receiver's perspective, it's a way to request notifications
when other sites link to it.

another.

valid webmention source.

The point is the intent to link to the target though. The webmention
receiver has discretion on how to interpret the sender document, and could
broaden parsing. Base url handling already mea

[2016-05-26 16:31] melvincarvalho commented on #39
@akuckartz I would have thought that to be self evident.  Millions of sites are already using JSON-LD even though its only a couple of years old.  Large companies such as Google have said they like it.  Solid and other systems are using it.  And it's growing.  All these factors contribute to a network effect.

[2016-05-26 16:44] rhiaro commented on #43
This is just editorial, so it doesn't 'mandate anything about implementation' anyway. I thought the generality (or 'vagueness') is preferable to a specificity that isn't technically correct.

An alternative would be to say 'intend to link' or explain this broader definition of 'link' that's being used.

I thought this was only when the content type is anything beyond HTML5, JSON or plain text? Tho

[2016-05-26 16:59] akuckartz commented on #39
@melvincarvalho You do not need to convince me that it would make sense to use LD everywhere. The task I see in this issue is to convince others that the proposed change to the webmention specification has a significant positive effect and that there are good reasons to assume that the size of that effect is larger than the effect due to the resulting cost of implementing the change.

(I have not

[2016-05-26 17:19] melvincarvalho commented on #39
The implementation change is tiny.  As a programmer I can say that.  In fact you'll probably get more tooling for free making the cost possibly even negative!

[2016-05-26 17:19] akuckartz commented on #39
Question: What would be the effect of _replacing_ the form encoded version by the JSON-LD version in the spec ?

[2016-05-26 17:21] melvincarvalho commented on #39
@akuckartz it's a good idea.  If someone has cycles to write it.  It would be a great guide for someone that wished to implement it that way.  Unfortunately I just have too many other projects I have to take care of at this time, or id volunteer.

[2016-05-26 17:22] melvincarvalho commented on #39
@rhiaro do you think you might want to have a go at the above, if you have time free? ^^  I hope im not imposing on you by asking :)

[2016-05-26 17:24] aaronpk commented on #39
I'm just going to point back to what @sandhawke said:

The time to suggest a 100% breaking change to the spec has long passed. There is already a *lot* of written and deployed code that sends webmentions using form-encoded syntax. It's not a matter of simply making a "tiny" change to switch to JSON, since it will affect senders as well as receivers, some of which are using libraries on both sides,

[2016-05-26 17:25] aaronpk commented on #39
I'm just going to point back to what @sandhawke said:

The time to suggest a 100% breaking change to the spec has long passed. There is already a lot of written and deployed code that sends webmentions using form-encoded syntax. It's not a matter of simply making a "tiny" change to switch to JSON, since it will affect senders as well as receivers, some of which are using libraries on both sides, n

[2016-05-26 17:36] akuckartz commented on #39
@aaronpk I understand your view but that argument does not convince me. If the change of an unfinished specification would require a rather small change in the code of current implementations than I would not agree that it is a "100% breaking change".

[2016-05-26 18:14] kevinmarks commented on #39
@rhiaro's document https://github.com/rhiaro/wm-ldp/blob/master/index.md is a very useful contribution here.

I'm happy to stipulate that many people find RDF useful to represent things, and a way to map between its worldview and webmention is both helpful for them and useful for interop.
That does not mean that it should be mandated for everyone else to parse, any more than representations in MyS

[2016-05-26 18:14] tantek commented on #39
@sandhawke this issue is rapidly going off-topic / growing beyond original scope / going in circles.

Per your comment in https://github.com/aaronpk/webmention/issues/39#issuecomment-221340025 there's no charter issue, and thus this issue should be closed.

If there are implementers that want to brainstorm extensions to webmention, whether JSON(LD) or otherwise, I encourage them to open new specif

[2016-05-26 18:25] akuckartz commented on #39
@tantek It does not make sense to create a new issue when the current one can be used.

[2016-05-26 18:26] aaronpk commented on #39
This issue is called "No JSON based social syntax", which is totally unrelated to the request to convert the webmention POST request to JSON format.

[2016-05-26 18:28] akuckartz commented on #39
@aaronpk Sorry, but that is a bit like hair-splitting. This issue can be retitled appropriately.

[2016-05-26 18:30] tantek commented on #39
@akuckartz morphing issues is considered bad practice in issue tracking systems. This started (primarily) as a charter issue, that's been resolved. It is customary practice to encourage creation of new issue(s) for anything ancillary discovered as part of the discussion.
In particular if you're interested in the specifics of how W3C uses / should use Github, I encourage you to join discussions els

[2016-05-26 18:49] akuckartz commented on #39
I agree that it is very bad that this issue was raised so late (although have heard vocal concerns a long time ego).

But the core of this issue from the beginning was about the fact that JSON(-LD) is not supported/used by the current version of the webmention specification. That certainly was not "ancillary discovered as part of the discussion".

@tantek Thanks for the link, but I did not find an

[2016-05-26 18:57] sandhawke commented on #39
@akuckartz wrote

I think a reasonable definition of "100% breaking change" (for a spec) is: a change which makes 100% of the implementations no longer conform to the spec.    Switching the webmention syntax from form-encoding to JSON-LD would therefore be a 100% breaking change.   Every single implementation would have to be modified (and all at exactly the same time).    Mandating that receivers

[2016-05-26 19:28] aaronpk commented on #39
Based on the requests from a chair and w3c team contact, I am closing this issue. @melvincarvalho @akuckartz please see the suggestions above for ways to pick up this discussion again if you feel it is necessary. In the future, please keep the discussions in these issues focused and on the original topic.

[2016-05-26 19:28] #39 closed

[2016-05-26 19:36] akuckartz commented on #39
For the record: I strongly object to the claim that the contributions were not focused on the original topic.

[2016-05-26 19:51] kevinmarks commented on #42
@hvdsomp I just realised you may not have got my reference to Bridgy.
It's this site: https://brid.gy/
What you do is authenticate with your silo credentials, and then it will map the proprietary APIs and  formats into HTML and webmntion you with them. So it will map a tweet like this:

https://twitter.com/jlew8/status/735449055485165568

into this

https://brid-gy.appspot.com/post/twitter/kevinma

[2016-05-26 20:06] aaronpk commented on #40
It's true that not all webmention targets are HTML documents. Because of this, I think it's reasonable to clarify the text, changing

to

Requiring all senders to check for the HTTP `Link` header provides the largest opportunity for interop among implementations, since it's possible to publish a Link header regardless of content type.

If you have specific examples of wanting to advertise a webmen

[2016-05-26 21:36] melvincarvalho commented on #39
Also strongly object.

I raised this in July of 2015 on the mailing list.

[2016-05-26 21:39] melvincarvalho commented on #39
FWIW one of the main reasons I stopped following this closely was that both @aaronpk and @tantek were closing issues prematurely in a heavy handed way.  At one point I was on the admin group of github and I was removed unilateral, without explanation.  While issues were closed down and several members of the WG wanted to discuss further.  This process is a joke.  All I can say is that I object in

[2016-05-26 21:46] sandhawke commented on #39
We're just asking you to keep separate issues in separate issues.    Can you please do that?    Since the original topic of this thread was about the charter, let's use it for that.    And, as I said, put other issues in other github issues.   I can open it for you if you want, but the records are clearer if the person opening the issue is one who supports some change.

[2016-05-26 21:46] rhiaro commented on #39
@melvincarvalho By the way, the working group does also have another draft on the rec-track that contains a notification mechanism which *does* use JSON-LD as the payload (ActivityPub). So rather than objecting to a spec that doesn't meet your needs you might have a better time helping out a spec that does, so we get the various alternatives to CR. We all agreed to agree there's no one-size-fits-a

[2016-05-27 01:32] aaronpk opened #44 "Differentiate new class "proxy receiver" and how it differs from "receiver""
There are currently two types of webmention receivers implemented. The simple receiver exists on a single domain and accepts webmentions for URLs at that domain or URLs that redirect to that domain (such as shortURLs or aliases). Proxy receivers accept webmentions for domains other than themselves. Examples of these include:

* https://webmention.io
* https://mention-tech.appspot.com
* https://web

[2016-05-27 01:48] aaronpk opened #45 "Move mention of specific limit of redirects to Security Considerations section"
Change:

to

The suggested limit of 20 should be moved to the "Limits on GET requests" section.

[2016-05-27 02:05] bear opened #46 "webmention verification should specify using a HEAD request"
Section 3.2.2 of https://www.w3.org/TR/webmention/#webmention-verification says

The suggestion of using a GET is wrong IMO because it 1) is doing a full resource request when a HEAD request will suffice at this stage and 2) by requiring a GET my implementation really cannot perform a HEAD (for the first reason)

My suggested change would be to say

" If the receiver is going to use the Webmention

[2016-05-27 02:37] wilkie commented on #46
That's interesting. How are you doing link verification with HEAD? Are you just looking for page existence? I'd imagine your implementation will have to support GET since the things linking to you are going to be arbitrary? I'm a bit curious about your use-case.

[2016-05-27 02:41] dissolve commented on #46
Maybe text like section 3.1.1.
 you MAY perform a HEAD first

[2016-05-27 02:42] aaronpk commented on #46
It sounds like this might need to be broken into two sentences/phrases. Obviously you can't check whether the source links to the target unless you do a GET request, since links only appear in the body. However an initial check of whether the source exists (e.g. it returns a redirect or HTTP 200) is a good idea to do before making a GET request.

What about this new expanded text, which includes c

[2016-05-27 02:43] wilkie commented on #46
@dissolve that makes sense

[2016-05-27 02:58] bear commented on #46
yes, I was trying to suggest that the source existence check SHOULD first be done with HEAD and then if it is found to be present, followed up with a GET

the reasoning is two fold - HEAD is saner from a server-friendly point of view and it will follow redirects, so instead of, for example, doing 4 GETs because of redirects you do 4 HEADs and 1 GET

[2016-05-27 03:26] sandhawke commented on #46
In what situation could doing HEADs possibly save you any work?   If there's a redirect, HEAD and GET are exactly the same.   If there's no redirect, you have to do a GET to get the content and see if the target URL string is present.

[2016-05-27 03:31] sandhawke commented on #42
@hvdsomp Sure, I share your scepticism about publishers really participating in the Web.   But what else can we do, but make it as easy and rewarding as possible for them, and as far as I can see the current Webmention spec does that.    Maybe it could be explained in a way that would resonate with them more, perhaps as a use case in the spec?     Like, have a use case that is landing pages for sc

[2016-05-27 03:53] sandhawke commented on #39
@akuckartz

The original topic was

To paraphrase, the original topic was about a potential charter violation.   I addressed that point in comment https://github.com/aaronpk/webmention/issues/39#issuecomment-221340025 clarifying that, in fact, there is a JSON based social syntax, and it's called AS2.   I believe that should have been sufficient to close this issue.    No one has said any more abou

[2016-05-27 04:03] sandhawke commented on #40
Non-HTML documents for which webmentions would be good:
* PDF of a research paper
* images which get embedded in a page with img src=....
* css and js resources used by various web pages, which might like to know who's using them

Refback might be a little more natural for these...    (Trying to think of how Webmention is better than Refback....   Not thinking of any ways....  Oh well.)

[2016-05-27 04:18] aaronpk commented on #40
Currently, @kevinmarks has implemented webmention discovery on his SVG images by using the HTTP header. In this post, http://lombardpress.org/2016/04/16/iiif-webmentions/ he talks about discovering the webmention endpoint in a JSON-LD document. These are two examples that are actually implemented.

[2016-05-27 04:52] bear commented on #46
if the HEAD request has redirects but is still not present at the final endpoint then you will have saved n-1 GETs

At the core of it is, IMO, just plain web server politeness. The "is the URL valid" is a check for presence and doesn't require retrieving the content (or causing the content to be generated.)  For my specific use case I use the HEAD to determine if the webmention is even added to my

[2016-05-27 05:10] lehors commented on #39
@sandhawke It's very simple: You create a new issue in which you point out that the discussion started here, with a reference to this issue #. Done.
This happens all the time on github.

[2016-05-27 08:11] voxpelli commented on #46
So if a `HEAD` request fails then how should the receiver act? Not all servers implement proper support for `HEAD` requests and thus may return some kind of error on such requests while ordinary `GET` requests are supported by the server. Is there a need for a note on what to do if a `HEAD` return eg. a `5xx` error or a `405` error?

I would prefer a wording that say that a client `MAY` try to do

[2016-05-27 11:58] sandhawke commented on #46
In general, doing a HEAD before a GET is waste of network resources.   It is most certainly not "more polite".    Doing a head before a GET is like driving to the store to make sure it's still there, then driving home, then driving to the store again to get your groceries.   If the store is closed or has moved, it still makes sense to just drive to the store to get your groceries, and at that poin

[2016-05-27 12:26] sandhawke opened #47 "Webmention should use JSON-LD"
I do not support this issue.   I'm just helping organize here, separating it from #39.

In #39 there seem to be several proposals considered:

OPTION 1.  Where Webmention currently uses form-encoding, it should instead use JSON-LD.   That is, Webmention receivers would be required to understand JSON-LD and **not required** to understand form-encoding.    This has a big problem: it would be a  [fla

[2016-05-27 12:28] sandhawke commented on #39
Fine, I had my reasons, but, .... done.

[2016-05-27 12:56] sandhawke commented on #44
Is this just editorial?

[2016-05-27 14:57] lehors commented on #39
@sandhawke, I didn't mean that you, personally, had to do it. I just gave you the answer to the question you raised about how to handle the situation from a github point of view.

[2016-05-27 15:51] bear commented on #46
IMO it boils down to the fact that RFC2616 lists one of the reasons for HEAD as

Which describes exactly what is happening at this point of a webmention flow and the reason I use the term "more polite" as web servers don't return the full body.

So that means that it *should* be faster than a GET, the case that one implementation doesn't show gobs of time saved doesn't mean it shouldn't be done. T

[2016-05-27 17:07] aaronpk commented on #46
Just for clarification since some people seem to be unclear, this issue is specifically about whether to allow/recommend HEAD requests when making the HTTP request to verify that a webmention source URL does in fact link to the target URL.

This is *not* about the HTTP request used to discover the webmention endpoint in the first place. There are definitely obvious benefits to doing a HEAD request

[2016-05-27 17:08] aaronpk commented on #46
Just for clarification since some people seem to be unclear, this issue is specifically about whether to allow/recommend HEAD requests when making the HTTP request to verify that a webmention source URL does in fact link to the target URL.

This is *not* about the HTTP request used to discover the webmention endpoint in the first place. There are definitely obvious benefits to doing a HEAD request

[2016-05-27 17:58] sandhawke commented on #46
@bear What does your implementation do differently in the cases where the HEAD returns 200 and 404?   How is that different behavior useful?  My problem here is I can't think of why that would be useful.

Also, I'd claim that saying clients MAY do a HEAD before they do a GET is vacuous.   Isn't that the default for the web?   You can always do a HEAD before a GET, so there's no point in saying it.

[2016-05-27 19:39] aaronpk opened #48 "Recommend a backoff strategy for discovering webmention endpoints"
If no webmention endpoint is discovered for a target, it would be best to avoid attempting to re-discover an endpoint for the domain until some amount of time has passed, to avoid making a bunch of unnecessary requests to the site. We should create some recommendations about when to throttle back trying to discover a webmention endpoint based on the target domain.

[2016-05-27 19:42] tantek commented on #48
This sounds like a good informative (non-normative) guideline to provide. Off the top of my head I'd say 1 minute, then 1 hour, then 1 day. This allows for relatively quick recovery from temporary outages as well. I'd be interested in @bear's opinion on this.

[2016-05-27 20:10] hvdsomp commented on #42
sandhawke: a "landing page" use case might indeed be a good idea. along the lines of: increase inlinks to your landing page by:
(1) making references available in the landing page
(2) sending webmentions to referenced papers
(3) have referenced papers link to your landing page

[2016-05-27 21:18] bear commented on #48
The code that i'm working on does a backoff of (minutes) 1, 5, 15, 60 and then it jumps all the way to a day

[2016-05-27 21:34] voxpelli commented on #48
Do you really mean backing off for the entire domain? Not just backing off the lookup of that specific target URL? Just because a single target at a domain doesn't support webmention that doesn't mean that the rest won't? Eg. if someone doesn't support webmention on their frontpage but they do on their posts, then if someone mentions the frontpage first then it may miss mentioning a post due to ba

[2016-05-31 13:05] tantek commented on #39
@melvincarvalho wrote:

Melvin, this is off-topic, and frankly, rude. If there are specific issues resolutions that you objected to, you should object in those issues. If you have a formal objection (W3C term: https://www.w3.org/2015/Process-20150901/#WGArchiveMinorityViews ) to a specific issue, you should note that in that issue literally as a "Formal Objection".

Again, unrelated to this issue.

[2016-06-07 17:37] sandhawke commented on #47
Closing, since I opened this as a home for a thread that didn't materialize.

Lots of email sort of on this topic.

[2016-06-07 17:37] #47 closed

[2016-06-07 18:01] aaronpk commented on #44
There isn't enough of a reason to add another conformance class, but instead we will add a sentence to the end of the section "For example, some receivers may accept webmentions for multiple domains."

[2016-06-08 15:41] akuckartz commented on #47
No objections to closing this issue. Depending on the outcome of the mailing list discussion it can be reopened.

[2016-06-13 15:03] melvincarvalho opened #51 "Webmention message is not clearly mapped to linked data"
The webmention spec lack interoperability with linked data.

What is needed is an explicit translation of

source=https://waterpigs.example/post-by-barnaby&
target=https://aaronpk.example/post-by-aaron

Into a format that can be implemented by those working with web standards such as JSON LD, Turtle, AS2 etc.

While the spec clarifies the namespace that could be used in the predicate position.  Th

[2016-06-13 15:10] aaronpk commented on #51
I believe this is the same issue as #9? The outcome of that issue was adding a document at http://www.w3.org/ns/webmention and this sentence to the spec:

[code]

(from https://www.w3.org/TR/webmention/#uris-for-form-encoded-properties)

What more is needed to "clearly map" the message to linked data?

[2016-06-13 15:45] melvincarvalho commented on #51
@aaronpk how would you write the webmention message in linked data?  (pick any serialization that you prefer)

[2016-06-13 15:56] aaronpk commented on #51
@melvincarvalho Since you're more familiar with Linked Data perhaps you could provide an example? If there isn't enough information provided in that paragraph and in the namespace document to do so then maybe we can clarify those.

[2016-06-13 16:22] dissolve commented on #51
Maybe two examples of how you could see it being serialized in json-ld?  I
think that would be really helpful.
On Jun 13, 2016 11:57 AM, "Aaron Parecki" <notifications@github.com> wrote:

[2016-06-14 16:30] akuckartz commented on #51
:+1: for the constructive discussion by all participants in this issue!

[2016-06-14 19:57] sandhawke commented on #51
What's unclear?    What's a reasonable interpretation of the spec other than

[code]

?

Of course you're always free to assign one or more URLs instead of using a blank node, but that's your business.

[2016-06-15 09:33] melvincarvalho commented on #51
@sandhawke thanks for the example.

A possible interpretation could be:

[code]
or

[code]

How many implementors would have been able to work that out without the aid of an example?  It wasnt immediately obvious to me.  It may be that a blank node MUST be used, or MAY be used.

There are some quite subtle things going on.
* translation of a string to an URI, using inferences from the spec
* inser

[2016-06-15 09:42] melvincarvalho commented on #51
PS for those less familiar with linked data the example above might be instructive as to how it works.

Essentially its a string of 3 URLs surrounded by <> to show key, value pairs tied to a subject.  You can also have say a string as an object and you would put them in "" instead of <>.

I mention this because I started out thinking the semantic web was super complex and it took me quite some tim

[2016-06-15 15:04] sandhawke commented on #51
The problem with making those design decisions is that we don't have use cases for this on which to make those decisions.  At least I haven't seen any uses cases that make sense to me and involved interoperating using webmentions written in an RDF syntax.

The problem with providing an example is that poodle might think they MAY send webmentions that look like that, but that's not true.

[2016-06-15 16:29] melvincarvalho commented on #51
It is easy to construct a use case.  Alice is using a system that supports AS2 or Solid or Web Annotations or LDP or any number of the growing Linked data systems.

Someone mentions her in the comments of a post of another person's, and she would like to see when people are talking about her.  In fact I came across this very problem in solid social it's also a natural way to grow social network pa

[2016-06-15 16:32] melvincarvalho commented on #51
Clarification of "Webmention message should be able to work".

Probably better to read : "the webmention message semantics should ..."

[2016-06-15 17:01] aaronpk commented on #51
@melvincarvalho You may wish to read this very thorough documentation of a live implementation that uses the existing Webmention spec to send notifications between JSON-LD documents: http://lombardpress.org/2016/04/16/iiif-webmentions/

He was able to make a system that interoperates with other JSON-LD servers, and seems to have no problem sending the form-encoded webmention payload to do so.

I e

[2016-06-15 18:29] sandhawke commented on #51
@melvincarvalho that use case demonstrates exactly why an example would be harmful.    If someone tries to send a webmention encoded in json-ld (or anything other than form encoding) the receiver isn't obligated to understand it.   By advertising an endpoint with rel=webmention I'm promising to understand form encoded webmentions, no more.

If you want to advertise an endpoint that commits to more

[2016-06-15 21:30] melvincarvalho commented on #51
@sandhawke I disagree with this.  It's rather a bad idea, from an implementation perspective to have two different endpoints, one that understands JSON and one that understands form variables.  And it's perfectly reasonable to have an endpoint that understands a variety of formats.  In most languages it's quite easy to switch on the payload that you get, to determine what it is.

This groups is al

[2016-06-15 22:20] sandhawke commented on #51
@melvincarvalho  I don't agree with your theories about how protocols can evolve in place.   But I've said that many time before in many ways, and this is going in circles, yet again and again and again, so I'm done done done.

Meanwhile, if you see a DDoS attack vector with webmention, then raise that as it's own issue, unrelated to RDF.   Maybe it'll turn out that the solution involves adding RD

[2016-06-20 14:00] melvincarvalho commented on #51
Proposal:

[code]

Given a lack of other suggestions, should we take this (Sandro's suggestion) as the official canonical form in linked data of a webmention?

[2016-06-20 14:15] dissolve commented on #51
Why would you need this to be in json-ld at all?

The server fetches and parses the linked data from the users homepage.  The server can store that data any way it chooses, thats outside of the spec.

The webmention is just telling the server to fetch that page.  So all it has to do is implement a webmention endpoint per the spec.

To rewrite your example a little.

1. The user has a link to their

[2016-06-20 14:47] aaronpk commented on #51
@melvincarvalho Would you please give this document that @rhiaro wrote a read and see if maybe this answers your questions? https://github.com/rhiaro/wm-ldp/blob/master/index.md

[2016-06-20 23:20] melvincarvalho commented on #51
@aaronpk this actually highlights this issue.

@rhiaro and @sandhawke have written it out in slightly different ways.  The implication is that there's an clear and obvious way to do this.  This shows that is not the case.

This potentially confuses implementors and harms interop.  Pick an example and just go with that.

* Sandro's way or Amy's way (pick one, I suggest) both are reasonable
* Choose

[2016-06-21 00:21] sandhawke commented on #51
Giving people an example like this would provide a false illusion of interoperability.

[2016-06-21 00:38] aaronpk commented on #51
Unless I am mistaken about how Turtle is parsed and is able to interop, both their examples end up being equivalent.

In any case, I am happy to end this thread by recommending people read @rhiaro's document. The `context` in her example has been live for some time now: http://www.w3.org/ns/webmention

Like @sandhawke said, putting an example of a payload that is not form-encoded into the spec wou

[2016-06-21 01:05] sandhawke commented on #51
Aaron,  Rhiaro's example serialization and mine are different in a way that would often not matter, but might in some deployment situations.    Without having real use cases, I'm not sure which would be better.  My example not dictate which URL would be used for the mention itself, while hers said the URL of the mention itself is what's returned in the location header from the POST.   Both are rea

[2016-06-21 02:15] aaronpk commented on #44
Added this sentence.

[2016-06-21 02:15] #44 closed

[2016-06-21 02:21] aaronpk commented on #40
Closed by adding clarifying text as per https://www.w3.org/wiki/Socialwg/2016-06-07-minutes#webmention-40-resolution

[2016-06-21 02:21] #40 closed

[2016-06-21 02:30] aaronpk commented on #46
As per https://www.w3.org/wiki/Socialwg/2016-06-07-minutes#webmention-46-resolution I've updated the text to include security considerations clarifying that a receiver is allowed to use HEAD request during verification, and when verifying the link, suggesting to include an Accept header.

[2016-06-21 02:30] #46 closed

[2016-06-21 02:35] aaronpk commented on #45
This is completed

[2016-06-21 02:35] #45 closed

[2016-06-21 02:39] aaronpk commented on #42
We discussed this during the f2f meeting and agreed to add a section describing the "landing page" use case. https://www.w3.org/wiki/Socialwg/2016-06-07-minutes#webmention-42-resolution

[2016-06-21 02:55] sandhawke commented on #51
Melvin, it would be good to have the working group make a final decision and wrap up this issue.   It sounds like you might be ready to make a concrete proposal.   If so, please do that.

[2016-06-21 10:09] melvincarvalho commented on #51
This confirms what I have been stating ie that webmention is not interoperable.  That's my concern.

I would propose to:
* take sandros syntax (using the bnode)
* use JSON-LD as a serialization (meaning the @id is omitted)
* have an example in the spec which shows implementors how they can create a webmention using JSON

[2016-06-21 10:18] melvincarvalho commented on #51
@aaronpk thanks for pointing out the context is live in http://www.w3.org/ns/webmention

[code]

This one ^^.

Note: I think in Amy's document to align with this and sando's example the <> should be a [].  <> means properties of the document (so we dont know actually that document is, probably the newly created resource).  [] means blank / empty.  It probably doesnt make sense to tie source and ta

[2016-06-21 10:23] melvincarvalho commented on #51
I'd like to point out one advantage of this serialization for practical use.  The type = Webmention allows you to create a generic resource that can receive all kinds of incoming messages.  It also future proofs the data structure against name clashes in two ways, one showing that the JSON object is a webmention.  The other, more importantly, is that the JSON objects can be easily stored and retri

[2016-06-21 12:01] sandhawke commented on #51
Interoperability only makes sense in a context.

With a good standard, all implementations of it are interoperable with each other.

One of the more prominent early uses of the word was in the TCP Interoperability Conferences (I vaguely recall the first one, in Monterey, in 1987), which as I recall were inspired by earlier informal "bake-off" sessions where people got together to see if they could

[2016-06-21 13:00] melvincarvalho commented on #51
Yes, I agree.  interopable is perhaps a loaded term which can evoke emotion.  In order to achieve a balanced conversation I'd suggest avoiding terms like "nuts" or "misguided nonsense"

I appreciate you sharing background but I also have some experience in the social web, being an author of the XG report, the only person on every call there, and having spoken to many people in the social web, one

[2016-06-21 13:02] hvdsomp commented on #42
Thanks! I'm very happy with that resolution.

Greetings

Herbert

[2016-06-21 13:09] melvincarvalho commented on #51
Let me just quote openstand which W3C is a member of (I beleive):

https://open-stand.org/about-us/principles/

I'm not trying to score points here, just give an idea of what the word interoperability means to me.

[2016-06-21 13:24] sandhawke commented on #51
What are you trying to build a bridge to?    What system would want to interoperate with webmention that can't just speak webmention?    There aren't any, because it's really easy to speak webmention.

You're not trying to build bridges between islands, you're trying to tell people to build bridges in a different way because some day some how maybe it'll make things easier for someone.

Those are

[2016-06-21 13:56] rhiaro commented on #51
But it's not as simple as just putting an example of the serialisation in the spec. If we did that, we'd have to describe how a webmention endpoint should handle it, too. With that, comes a bunch of other considerations.. basically another spec. A different spec, for generic message passing in linked data, outside of webmention's well defined scope. I agree that's important, and you're invited to

[2016-06-26 15:35] aphillips opened #55 ""protocol summary" section is unclear"
Section 1.2 of the current draft is called "Protocol Summary" and does seem to describe some sort of protocol, but there is no introduction or context. Shouldn't there be one?

[2016-06-29 10:01] melvincarvalho commented on #51
You opened your dialogue on this issue with "If you just want to be a pain to the WG".  If this is being as clear and patient as you can, I would not wish to see you in an impatient mood.  I will reiterate that your tone is not conducive to a productive dialogue.

As above.

What is very is that I consider interop with LD an important issue and you dont.  This has been established.

My aim in this

[2016-06-29 10:10] melvincarvalho commented on #51
To clarify

Proposal 1

[code]

Proposal 2

[code]

Is there any preference between these 2?  I favour proposal 1.

[2016-06-29 10:13] melvincarvalho commented on #51
@rhiaro what do you think about putting such an example in the [webmention namespace](http://www.w3.org/ns/webmention) vocab document?

[2016-06-29 10:30] sandhawke commented on #51
Repeating myself: I'm strongly opposed to the WG endorsing an example, because it would cause more problems than it would solve.   Also, you agreed your use of the term interop was misleading, then you went ahead and kept using it.

[2016-06-29 18:28] ePirat commented on #20
I still think that this should be addressed as you proposed in a [previous comment](https://github.com/aaronpk/webmention/issues/20#issuecomment-209385798). In my opinion it's still a problem that my server could be made to POST to "fake" webmention endpoints.

[2016-06-29 18:46] aaronpk commented on #20
For the record, my initial description of the issue was incorrect. Salmention does not say "Then, following the Salmention rules, Alice's server sends webmentions to all previous comments to notify them of the new comment." Actually, Salmention says that you should re-sent any previously sent webmentions. This means you actually won't be in the situation of a commenter causing you to send a new we

[2016-06-29 18:48] ePirat commented on #20
Ok, thanks for clarifying. My concern is invalid then and my comment can be disregarded.

[2016-06-30 00:47] mblaney commented on #20
I think there's enough mitigation 'built in' with the localhost check now, but after reading this issue and #15, it's worth clarifying that it's not a salmention problem. @sandhawke specified that Alice would be writing a reply post to the attacker, not that the attacker could force endpoint discovery via a comment.

[2016-07-05 18:05] melvincarvalho commented on #51
Could you elaborate on what problems it would cause?  Are they things you've run into, or theoretical issues?

[2016-07-05 18:11] sandhawke commented on #51
People tend to think examples in a spec are something that should work.   So if we put an example in the spec, people might think it would work.   But since Webmention endpoints don't accept JSON-LD it won't work.   To me, that sounds like a problem.

[2016-07-05 19:33] akuckartz commented on #51
I agree that misleading examples are a problem. But this problem can be reduced by including an appropriate comment in the example.

[2016-07-05 20:07] sandhawke commented on #51
What would it say?   " Here's a thing you shouldn't do with webmention" ?    Maybe a big red X over it?

[2016-07-05 21:03] tantek commented on #51
I think a better way to resolve this, now that we have accepted Linked Data Notifications as an Editor's Draft, is to transfer this issue there and close this one with no changes to the Webmention spec which is already in CR.

That is, Linked Data Notifications should document mapping Webmention to linked data, rather than asking a mature spec that has no other mentions or even informative LD depe

[2016-07-05 21:22] rhiaro commented on #51
LDN actually already has a webmention example in json-ld. I'll also document how to convert between them in SWP if that seems appropriate.

[2016-07-06 01:25] sandhawke commented on #51
@tantek, procedurally and socially, I think it's better to have commenters close their own issue if they're satisfied.

[2016-07-06 15:01] sandhawke commented on #51
And my reply is, again and again and again, the webmention spec is not the right place for this, because RDF is not part of the webmention protocol.  Above, you've been told two places that are the right place for this.   Please take your input there, and close this issue.

[2016-07-10 12:52] melvincarvalho commented on #51
@sandhawke I disagree with your analysis.

My original post states that webmention lacks interoperability.  I have gone over why this is advantageous.  It is possible that I am over rating the importance of interop, but Im not persuaded of that.  The W3C does have a commitment to interop.  This would be perhaps an interesting meta discussion.  Therefore, my original objection stands.  If a disinte

[2016-07-10 13:15] melvincarvalho commented on #51
@tantek if there is a reasonable expectation of LDN to be published by the WG in some form (e.g. note or rec) and it contains an example of a webmention mapping, in linked data so that developers can see what it might look like, I think that works for me.

[2016-07-13 06:43] r12a opened #56 "section 3.1.2 charset"
[raised by Addison Phillips, discussed in i18n telecon]

https://www.w3.org/TR/webmention/#sender-notifies-receiver

Section 3.1.2 describes the submission of the `source` and `target` URLs in the `x-www-form-urlencoded` format. There is no mention of character encoding, which normally is an important concern for this format. However, since the strings in question are URLs, they are presumably alr

[2016-07-13 06:46] r12a opened #57 "Section 3.2: no language support"
[raised by Addison Phillips, discussed in i18n telecon]

https://www.w3.org/TR/webmention/#receiving-webmentions

Section 3.2 say (in part):

There is no mention of language negotiation or language identification here. The assumption appears to be that a wad of English is returned? ;-)

The example could include a `Content-Language` header or might allow for other language identification in the bo

[2016-07-13 06:48] r12a opened #58 "section 3.2: no character encoding on response examples"
[raised on behalf of Addison Phillips, discussed in i18n telecon]

https://www.w3.org/TR/webmention/#receiving-webmentions

In Section3.2 there are examples of responses. They are giving the `Content-Type` of `text-plain` with *no* charset parameter. Please include a charset=UTF-8.

Should there also be a health warning to use UTF-8?

[2016-07-13 15:18] aaronpk commented on #57
Thanks for bringing this up. The response body is not meant to be visible to end users, and is only informative, since the HTTP code indicates the actual status of the request. Some implementations return a JSON body or no body as well, while others return text such as "Success".

Given that there is no functionality specified by returning a response body, do you think it would be appropriate to j

[2016-07-13 15:33] #58 closed

[2016-07-13 15:34] aaronpk commented on #58
Thanks, I've added the charset to the content type header in the examples. You can see this reflected in the current editor's draft: http://webmention.net/draft/#receiving-webmentions

[2016-07-13 16:59] akuckartz commented on #57
As an end user I have seen many errors intended to be seen only by developers.

[2016-07-19 17:29] melvincarvalho commented on #51
Closed as requested, pending new information.  Would still appreciate pointers regarding my question above on where to map out webmention to linked data.

[2016-07-19 17:29] #51 closed

[2016-07-19 19:23] rhiaro commented on #51
@melvincarvalho In progress in SWP, see commit as a start ^

[2016-07-31 11:08] melvincarvalho opened #60 "Caution regarding using form encoded data"
Given that webmention is strictly based on form-urlencoded data, it'd be important to caution implementers on what the W3C Recommendation for HTML5 says (see note):

https://www.w3.org/TR/html5/forms.html#url-encoded-form-data

[2016-07-31 12:03] akuckartz commented on #60
Drastic text but :+1:

[2016-07-31 13:28] dissolve commented on #60
It seems pretty random to just copy-paste a commentary about form-encoding.  This would really be at the level of anyone writing a form-encoding processing anyway, which is a different level than webmention implementors are likely to care about (I don't really know of any realistically usable stack that doesn't already have built-in form-encoding processing already).

If you wanted that warning to

[2016-07-31 20:04] aaronpk commented on #60
The spec already has a normative reference to HTML5 where that paragraph is. Since the paragraph is talking about the implementation of form-encoding, it only makes sense in the context of the encoding algorithm as detailed in HTML5.

That level of detail is only relevant to someone implementing a form-encoding or decoding function, the vast majority of which are already built into every HTTP libr

[2016-08-02 19:45] kevinmarks commented on #57
If we update the normative reference to HTTP 1.1 to RFC 7231, we can delegate the response body to  https://tools.ietf.org/html/rfc7231#section-6.5 (ie the language identification is done in the usual way for HTTP, and not needed to be specified by webmention)

[2016-08-02 22:02] aaronpk commented on #60
We discussed this in the call today, and came to the agreement that it's not necessary to include editorial text about encoding and parsing form-urlencoded data. Similar to how you will not find text describing JSON serialization and parsing in specs that use JSON, there is no need to describe that lower level in Webmention. Closing as agreed: https://www.w3.org/wiki/Socialwg/2016-08-02-minutes#is

[2016-08-02 22:02] #60 closed

[2016-08-03 12:00] melvincarvalho commented on #60
@aaronpk thanks for the update.  Unfortunately I could not make the call, and sent my regrets via IRC and the wiki, prior to the call, as I had a guess.  I find it unusual that this was voted on so quickly without waiting for input from the commenter.  Isnt it normal procedure to wait a week in such instances?

However as @aaronpk seconded this and was present during the vote, that I think was goo

[2016-08-03 12:07] melvincarvalho commented on #60
As a point of process, I only found out by chance and quite late, that this item was added to the agenda.

How about when adding issues to an agenda where there is an intention to vote, to reference that agenda in the github issue?

[2016-08-03 12:49] sandhawke commented on #57
Changing a normative reference would normally necessitate another CR.   Or is the charge in reference purely editorial?

[2016-08-03 13:04] dissolve commented on #60
You are kind of trying to compare apples to oranges here.  You are comparing the fact that the spec for parsing of form encoding contains a note about issues with parsing, to the fact that no note that references json's spec adds a note about parsing issues (btw, json is specified in an RFC, not anything under w3c, which I find tend to contain less notes of these type).  Were I specifying JSON, I

[2016-08-03 14:00] melvincarvalho commented on #60
@dissolve I hear what you're saying.  I dont think there's any issues with JSON messaging, or any edge cases that have come up.

Regarding form encoded variables, my concern is whether the text has been examined to see whether there are edge cases pertinent to the values that can go in the source and target strings.  For example are non ascii characters going to be an issue, or commas or spaces.

[2016-08-03 15:34] aaronpk commented on #60
The point is that the HTML5 spec is *where* the form-encoding parsing and encoding algorithm is described. That's an appropriate place for a warning like that. Not in a document that just references the spec.

In Webmention, we're talking about sending two URLs in form-encoded format. That is a very well established practice and not something that is going to lead to a lot of edge cases.

There ar

[2016-08-03 15:38] aaronpk commented on #57
The spec references HTTP 1.1 (RFC2616) in two places, when talking about sending the HEAD request, and when talking about returning the HTTP status code. Changing the reference to 7231 would not have any implications of changing existing implementations if that's what you mean.

[2016-08-03 16:00] kevinmarks commented on #57
I don't think we use the parts of HTTP 1.1, that were ambiguous in 2616, but referencing the better spec is worth it in terms of leading implementers to the current state of understanding. Mark Nottingham wrote about the differences here: https://www.mnot.net/blog/2014/06/07/rfc2616_is_dead
Sorry I didn't catch this reference earlier.

[2016-08-03 16:28] kevinmarks commented on #60
Well, there is the problem of JSON-LD throwing an exception if the JSON includes a list of lists. https://www.w3.org/TR/json-ld/#sets-and-lists

Should we warn about that in every spec that mentions JSON-LD?

[2016-08-03 17:02] kevinmarks commented on #60
Well, there is the problem of JSON-LD throwing an exception if the JSON
includes a list of lists. https://www.w3.org/TR/json-ld/#sets-and-lists

Should we warn about that in every spec that mentions JSON-LD?

On Wed, Aug 3, 2016 at 6:12 AM, Ben Roberts <notifications@github.com>
wrote:

[2016-08-03 17:03] kevinmarks commented on #60
Given that the calls have been focused on addressing open issues in drafts
for a while, as an examination of the minutes will show, the process is
unexceptional.

On 3 Aug 2016 9:09 am, "Melvin Carvalho" <notifications@github.com> wrote:

[2016-08-03 17:33] melvincarvalho commented on #60
@aaronpk I'd like to respond to your comment on the use of JSON, as it is something that came up during the Social Web XG.

Unless I hear otherwise, Im going to assume the preferred way to do this is to open a new issue and reference this one.

[2016-08-03 18:49] sandhawke commented on #57
That sounds like it should be okay, but as part of the PR transition, we'll have to make the case that the change isn't a problem.

[2016-09-13 17:24] aaronpk commented on #56
Thanks for pointing this out. There is currently no plan to include non-URL values in parameters of the Webmention payload, so like you said, all values are already URL encoded. Since you indicated that this works right now, I'm going to go ahead and close this issue.

[2016-09-13 17:24] #56 closed

[2016-09-17 17:22] Perlkonig opened #62 "Why only "410 GONE" for deleted posts?"
Why does the spec (and the test suite) not accept "404 NOT FOUND" as well? In my admittedly limited experience, most CMS platforms don't natively support "remembering" old URLs, thus being able to return a 410. I would think a 404 response would be just as meaningful.

[2016-09-17 17:23] aaronpk commented on #62
There is some background on that reasoning here: http://indieweb.org/deleted-404-discussion

[2016-09-19 13:31] Perlkonig commented on #62
Thanks for the link. It all makes sense, but it's challenging in practice. I'm writing a webmention plugin for [the Grav CMS](http://getgrav.org) and will try to build a plugin to generate 410s as well.

[2016-09-19 13:31] #62 closed

[2016-09-21 02:27] Perlkonig commented on #62
For the record: https://github.com/Perlkonig/grav-plugin-graveyard

[2016-09-21 11:03] marado commented on #48
It would also be an attack vector: imagine if my https://service.com/myaccount/my-post purposefully doesn't support webmention, so you'll backoff from ever other webmention in that domain...
Also, such measure to subdomains would mitigate the issue a bit, but just a bit.

[2016-09-21 18:34] aaronpk commented on #43
I've changed the text from "links to" to "mentions", since that covers both linking in an HTML document and referencing in plain text.

[2016-09-21 19:13] #43 closed

[2016-09-21 19:43] #42 closed

[2016-09-21 19:49] aaronpk commented on #55
@aphillips In 214be99b6de0385892371f63777f7aea7cb369e2, I added a section that should hopefully clear this up. Please close the issue if you are happy with the change. Thanks!

[2016-09-22 09:44] aaronpk commented on #57
notes from f2f discussion:

* Change normative response and example to an empty body
* Add an informative note that describes what implementations have done around returning HTML body, status messages, etc
* Senders: to avoid an HTTP 400 response, include an `Accept: */*` header so you always get some response
* Receivers: add informative note that some receivers accept webmentions from a browser

[2016-09-22 10:24] kjetilk opened #63 "Update HTTP reference to point at RFC723*"
Just a minor issue, RFC2616 has been superseded by an array of new specs, RFC7230 and onwards. The reference should be updated to reflect that.

[2016-09-22 10:30] aaronpk commented on #48
Resolved during our f2f meeting:

* Add a recommendation to respect cache headers and not re-fetch target URLs more often than the cache headers indicate
* Add an informative note recommending including "webmention" in the user agent string. This provides people with a pointer to find out about why the discovery request was made.

[2016-09-22 10:35] kjetilk commented on #63
The concrete reference is to [RFC7231](https://tools.ietf.org/html/rfc7231). This change does not require any other changes to the specification.

[2016-09-22 15:10] aaronpk commented on #58
Removed the examples of content-type header in the response, and un-added charset to the POST request.

[2016-09-22 15:45] #57 closed

[2016-09-22 19:19] akuckartz commented on #63
:+1:

[2016-09-23 16:14] rhiaro opened #64 "Link to SWP"

[2016-09-28 18:04] #64 closed

[2016-09-28 18:12] aaronpk commented on #63
@kjetilk thanks! I've updated the reference, please close the issue if you feel it's been resolved.

[2016-09-28 20:16] #48 closed

[2016-09-28 20:17] kjetilk commented on #63
Great, thanks!

[2016-09-28 20:17] #63 closed

[2016-09-29 01:26] aaronpk commented on #25
confirmed in person

[2016-09-29 01:26] aaronpk commented on #23
confirmed in person

[2016-10-20 01:52] #55 closed

[2016-10-25 16:48] aaronpk opened #67 "Update URL reference from RFC 3986 to WHATWG URL"
More recent W3C specs are referencing the WHATWG URL spec. (e.g. https://www.w3.org/TR/CSP2/#normative)

While this is technically a normative change, it does not affect any existing implementations. Additionally, the WHATWG URL spec is a more precise definition of URL for the purposes of Webmention.

https://url.spec.whatwg.org/

[2016-10-25 17:58] akuckartz commented on #67
I do not understand why this should be done.

[2016-10-28 23:59] aaronpk commented on #67
As [discussed in the telcon](https://www.w3.org/wiki/Socialwg/2016-10-25-minutes#Webmention), the original intent of adding the reference to RFC3986 was to reference what a URL was, it was mostly a coincidence that I found 3986 before I found the more up to date WHATWG URL spec. More recent W3C specs have been using the WHATWG URL spec, so this updates the Webmention references to match, since the

[2016-10-29 00:20] aaronpk commented on #67
Pending approval from Ralph.

[2016-10-31 20:08] rhiaro commented on #67
In the transition call Ralph determined we either need to add some of the disclaimer text that the [HTML5 spec](https://www.w3.org/TR/html51/references.html#normative) uses about this reference, or revert back to the original RFC reference.

[2016-10-31 20:47] #67 closed

[2016-11-02 05:07] tantek opened #71 "likely editorial: loopback exception specifically about not sending to loopbacks"
In https://www.w3.org/TR/2016/PR-webmention-20161101/#avoid-sending-webmentions-to-localhost it says:

"During the discovery step, if the sender discovers the endpoint is localhost or a loopback IP address (127.0.0.0/8), it SHOULD NOT send the Webmention."

I think this should specifically apply to not sending to webmentions to loopbacks, i.e. I suggest a (likely) editorial change to:

"During the

[2016-11-04 17:37] tantek opened #75 "JSON reference really needs to be to RFC 7159, not 4627"
From @hildjj at https://groups.google.com/d/msg/mozilla.dev.platform/RPu2oIc70Ug/U-h8fVIiAwAJ

[2016-11-04 17:43] tantek opened #76 "[Non-normative] Add informative reference to Pingback, brief summary of FAQ in intro"
Per @hildjj at https://groups.google.com/d/msg/mozilla.dev.platform/RPu2oIc70Ug/GuZXnR1JAwAJ

"Because there has been a lot of security work done on the prior protocols, particularly in terms of implementation detail in spam prevention.  It's also just good karma to call out the giant upon whose shoulders you are standing.  Informative links from the in the document will be nice decades from now w

[2016-11-29 20:32] agreiner opened #83 "web mentions for datasets with many URLs"
Posting from AC review comment, as requested by Sandro:
Section 4.2 posits that "the receiver can fetch only the first 1mb of the page, since any reasonable HTML or JSON page will be smaller than that." While I agree that an HTML page larger than 1 MB is extreme, JSON data files can reasonably be larger. The suggestion of using a landing page for non-HTML content is helpful here, but even that eff

[2016-12-01 03:09] tantek opened #84 "[Editorial] Improve section 4.5 with specific mention of using CORS when retrieving target URLs"
From @hildjj at https://groups.google.com/forum/?_escaped_fragment_=msg/mozilla.dev.platform/RPu2oIc70Ug/GuZXnR1JAwAJ#!msg/mozilla.dev.platform/RPu2oIc70Ug/GuZXnR1JAwAJ

Summarized:

Section 4.5 (Limit access to protected resources) should, instead of requiring server administrators to take precautions about dealing with protected resources that their server might have access to, instead recommend

[2016-12-08 03:23] sandhawke commented on #83
@aaronpk Any thoughts on this?    How might that break up work?  Like:

http://example.org/bigDataSet fetched as JSON is 200MB but fetched as HTML redirects to a 1MB first landing page at http:://example.org/aboutData/p1, which has rel=next link to /p2, etc, for hundreds of pages, and then... no, that doesn't work.   One could do mentions from the pages, but that leave you with only links to the /

[2016-12-08 04:26] kevinmarks commented on #83
Fragments, or indeed fragmentions is one answer. We have implementations of
fragmentions as targets that show by the paragraph.

On Wed, 7 Dec 2016, 19:24 Sandro Hawke, <notifications@github.com> wrote:

[2016-12-08 15:19] sandhawke commented on #83
So, if you have a big dataset file, and you want to use webmention, one technique is to also publish it as many small files (each under 1MB), each of which is webmentioned separately?   And they can link rel=something to the main dataset.     Is that it?

[2016-12-08 15:39] aaronpk commented on #83
@sandhawke that sounds like good practice in general anyway. The first thing that websites do when dealing with large datasets is break them up into "pages" and offer a paging mechanism in the UI.

[2016-12-12 17:06] aaronpk commented on #71
Agreed, this is an editorial change clarifying the scope of the limitation of sending to the loopback address. I've made the requested change.

[2016-12-12 17:15] #75 closed

[2016-12-12 17:16] aaronpk commented on #75
I took the liberty of marking this as "commenter satisfied" since I have updated the reference as requested.

This reference change has no normative changes.

[2016-12-12 17:28] aaronpk commented on #84
Section 4.5 is talking about webmention *senders*, not receivers. Since sending a webmention involves making a POST request, there is a potential danger in an attacker causing a sender to POST to some internal system that has no other authentication mechanism.

The concern brought up by @hildjj is actually something different, since he talks about potentially displaying data from internal systems

[2016-12-13 03:30] aaronpk commented on #76
How does that look @tantek?

[2016-12-13 15:06] aaronpk commented on #83
Please review the changes in #86 for some wording suggesting breaking up large datasets into pages when sending Webmentions.

[2016-12-13 17:44] aaronpk commented on #84
I don't actually see how an existing CORS mechanism could help with this. However I created a pull request with a note warning about republishing potentially restricted content.

[2016-12-13 17:51] tantek commented on #84
I think the note makes sense, and am also unsure how CORS could be used to improve this. If we figure it out later we can add that in other documentation.

[2016-12-13 18:25] sandhawke commented on #83
I like it.    @agreiner does that work for you?   See: https://github.com/w3c/webmention/pull/86/files

[2016-12-13 18:50] aaronpk commented on #84
@hildjj Does this change address your concern?

[2016-12-13 18:50] #71 closed

[2016-12-13 18:51] aaronpk commented on #71
Closing based on @tantek's +1 above

[2016-12-13 19:06] #76 closed

[2016-12-13 19:07] #83 closed

[2016-12-13 21:05] hildjj commented on #84
No, that does not address my concern.  You are creating an attractive nuisance; people will deploy generic servers on generic networks, and will allow themselves to be attacked *really* easily.

[2016-12-13 21:12] sandhawke commented on #84
Thanks for your eyes on this, @hildjj.   We were concerned about this, and went over it in some detail in https://github.com/w3c/webmention/issues/20 .  We ended up unable to think of a plausible security concern, but it's certainly possible we missed something.    Can you sketch out the attack you have in mind?

[2016-12-14 17:54] tantek commented on #84
@hildjj I thought I understood the threat model here, but I don't think I do any more (because I thought @aaronpk's added text was sufficient).

It seems you think there's some method of faking source (and/or target) when sending a webmention that causes a webmention receiver to retrieve (and possibly display content from) a "protected" (intranet etc.) source.

The link discovery and link checking

[2017-01-02 17:24] sandhawke commented on #84
Ping @hildjj ...   We'll be meeting to talk about this tomorrow.   A response would be most helpful.   @tantek maybe ping in person?

[2017-01-03 15:59] hildjj commented on #84
The error alluded to in 3.2.3 for `source URL does not contain a link to the target URL` is an adequate mitigation.  If this was added to section 4.1 as a MUST, I would be happier.

[2017-01-03 16:53] sandhawke commented on #84
Thanks, @hildjj -- Is the text you want already in 3.2.2, second paragraph, "the receiver ... MUST perform an HTTP GET request on source ... to confirm that it actually mentions the target"?    You want that repeated, perhaps more simply stated, in 4.1?    That should be fine.   You think there might be folks who don't do that?